.sl_content-locker {
	position: relative;
	min-height: 350px;
	&__form {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(get-color(default), .8);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;

		.sl_card {
			text-align: center;
			max-width: 100%;

			p {
				margin-bottom: 0;
			}//end p
			
			//If In a row add these conditional styles
			@include breakpoint (xlarge only) {
				@at-root .sl_row--shortcode .sl_content-locker .sl_content-locker__form .sl_card {
					padding: $spacing--sm $spacing--xs;
				}//end  @at-root .sl_row--shortcode .sl_content-locker .sl_content-locker__form .sl_card
			}//end xlarge only breakpoint

			@include breakpoint (large down) {
				@at-root .sl_row--shortcode .sl_content-locker .sl_content-locker__form .sl_form {
					flex-direction: column;

					& > * {
						width: 100%;
					}//end & > *

					.sl_button, .sl_input {
						width: 100%
					}//end .sl_button, .sl_input

					.sl_input {
						margin-right: 0;
						margin-bottom: $spacing--xs;
					}//end .sl_input
				}//end @at-root .sl_row--shortcode .sl_content-locker .sl_content-locker__form .sl_form
			}//end small down breakpoint 
			

			.sl_button {
				margin-bottom: 0 !important;
			}//end .sl_button
		}//end .sl_card

		img {
			width: auto;
			height: 50px;
			margin-bottom: $spacing--xs;
		}//end img
	}//end &__form
	&__content {
		
	}//end &__content
}//end .sl_content-locker