.sl_read-next{
	padding: $spacing--xs;
	@include border($color: get-color(default-tint3));
	border-radius: $border-radius;
	margin-bottom: $spacing--sm;
	font-weight: $font-weight--bold;

	&.large {
		font-size: 1.5rem;
		padding: $spacing--sm;
		border: none;
		box-shadow: $shadow;
		background-image: $gradient--primary;
		color: get-color(inverse);
		border-left: .5rem solid get-color(primary);

		a {
			color: get-color(inverse);
			font-weight: $font-weight--medium;

			&:hover {
				color: get-color(primary);
			}//end &:hover
		}//end a
	}//end &.large

	span {
		text-transform: uppercase;
	}//end span

	a {
		text-decoration: underline;
	}//end a
}//end .sl_read-next