.sl_card {
	padding: $spacing--lg;
	// width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	//ARTICLES
	&--article {
		box-shadow: $shadow;
		border-radius: $border-radius;
		overflow: hidden;
		padding: 0;
		background-color: get-color(inverse);
		@include transition(all .2s ease-in-out);

		&:hover {
			box-shadow: $shadow--hover;
			transform: translateY(2px);
			cursor: pointer;
			@include transition(all .2s ease-in-out);
		}//end &:hover
		
		.sl_card__image {
			position: relative;
			min-height: 275px;
			padding: $spacing--xxl $spacing--lg;
			padding-bottom: $spacing--xxl + $spacing--md;

			@include breakpoint (large only) {
				min-height: 200px;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				min-height: 175px;
				padding: $spacing--sm;
				padding-bottom: $spacing--xl;
			}//end medium down breakpoint

			& > * {
				color: get-color(inverse);
				margin-bottom: 0;
				position: relative;
				z-index: 1;
			}//end & > *

			h2 {
				font-weight: $font-weight--bold;

				@include breakpoint (large only) {
					font-size: 1.5rem;
				}//end large only breakpoint
			}//end h2

			.sl_article__category {
				position: absolute;
				left: $spacing--lg;
				bottom: $spacing--xxl;

				@include breakpoint (medium down) {
					left: $spacing--sm;
					bottom: $spacing--sm;
				}//end medium down breakpoint
			}//end .sl_article__category

			&:after{
				@include pseudo;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(get-color(default), .55);
			}//end &:after
		}//end .sl_card__image

		.sl_card__content {
			position: relative;
			padding: $spacing--lg;
			padding-bottom: $spacing--lg * 2;

			& > * {
				color: get-color(default);
				margin-bottom: 0;
			}//end & > *

			.sl_article__author {
				position: absolute;
				left: $spacing--lg;
				bottom: $spacing--lg;

				@include breakpoint (large only) {
					position: static;
					margin-bottom: $spacing--xs;
				}//end large only breakpoint

				@include breakpoint (small down) {
					position: static;
					margin-top: $spacing--xs;
					margin-bottom: $spacing--xs;
					font-size: 1rem;
				}//end small down breakpoint
			}//end .sl_article__author

			.sl_article__date {
				position: absolute;
				right: $spacing--lg;
				bottom: $spacing--lg;
				font-weight: $font-weight--bold;
			}//end .sl_article__date

			@include breakpoint (large down) {
				padding: $spacing--sm;
				padding-bottom: $spacing--sm + $spacing--lg;

				.sl_article__author {
					left: $spacing--sm;
					bottom: $spacing--sm;
				}//end .sl_article__author

				.sl_article__date {
					right: $spacing--sm;
					bottom: $spacing--sm;
					font-weight: $font-weight--bold;
				}//end .sl_article__date
			}//end large down breakpoint
		}//end .sl_card__content

		&--md {
			height: 100%;
			position: relative;
			@include transition(all .2s ease-in-out);

			&:hover {
				box-shadow: $shadow--hover;
				transform: translateY(2px);
				cursor: pointer;
				@include transition(all .2s ease-in-out);
			}//end &:hover
			
			.sl_card__image {
				min-height: 120px;
				padding: 0;

				.sl_article__category {
					left: $spacing--sm;
					bottom: $spacing--sm;
				}//end .sl_article__category
			}//end .sl_card__image

			.sl_card__content {
				padding: $spacing--sm;
				padding-bottom: $spacing--sm + $spacing--md;
				position: static;

				@include breakpoint (large only) {
					padding: $spacing--xs;
					padding-bottom: $spacing--xs + $spacing--md;
				}//end large only breakpoint

				.sl_sidebar & {
					padding-bottom: $spacing--sm + rem-calc(40px);
				}//end .sl_sidebar &

				.sl_article__author {
					left: $spacing--sm;
					bottom: $spacing--sm;
				}//end .sl_article__author

				.sl_article__date {
					right: $spacing--sm;
					bottom: $spacing--sm;
				}//end .sl_article__date
			}//end .sl_card__content
		}//end &--md

		&--sm {
			padding: 0;
			box-shadow: $shadow;
			border-radius: $border-radius;
			overflow: hidden;
			color: get-color(default);
			background-color: get-color(inverse);
			@include transition(all .2s ease-in-out);

			&:hover {
				box-shadow: $shadow--hover;
				transform: translateY(2px);
				cursor: pointer;
				color: get-color(default);
				@include transition(all .2s ease-in-out);
			}//end &:hover

			.sl_card__image {
				min-height: 143px;
				width: 140px;
				padding: 0;

				@include breakpoint (large down) {
					min-height: 120px;
					width: 100px;
				}//end large down breakpoint

				.sl_sidebar & {
					width: 100px;
				}//end .sl_sidebar &
			}//end .sl_card__image

			& > .sl_row {
				min-height: 143px;

				@include breakpoint (large down) {
					min-height: 120px;
				}//end large down breakpoint

				.sl_sidebar & {
					min-height: 120px;
				}//end .sl_sidebar &
			}//end & > .sl_row

			.sl_card__content {
				padding: $spacing--sm;

				@include breakpoint (large down) {
					padding: $spacing--xs;

					p {
						font-size: rem-calc(15px)
					}//end p

					h4 {
						font-size: 1rem;
					}//end h4
				}//end large down breakpoint

				.sl_sidebar & {
					padding: $spacing--xs;

					p {
						font-size: rem-calc(15px)
					}//end p

					h4 {
						font-size: 1rem;
					}//end h4
				}//end .sl_sidebar &

				& > :last-child {
					margin-bottom: 0;
				}//end & > :last-child

				.sl_article__category {
					margin-bottom: $spacing--xs/4;
					font-size: 1rem;

					@include breakpoint (large down) {
						font-size: rem-calc(15px);
					}//end large down breakpoint
				}//end .sl_article__category
			}//end .sl_card__content
		}//end &--sm
	}//end &--article


	//DUOS
	&--duo {
		width: 100%;
	}//end &--duo

	.sl_duo--inverse & {
		background-color: get-color(default);
		padding: $spacing--xxl;

		@include breakpoint (xlarge only) {
			padding: $spacing--lg;
		}//end xlarge only breakpoint

		@include breakpoint (large down) {
			padding: $spacing--md;
		}//end large down breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint

		& > * {
			color: get-color(inverse);
		}//end .sl_module--inverse

		h5 {
			color: get-color(primary);
			font-weight: $font-weight--medium;
		}//end h5
	}//end .sl_module--inverse &

	.sl_duo--nobackground & {
		padding: 0;

		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (medium only) {
				flex-direction: column;
				align-items: center;

				.sl_phone {
					margin: 0 0 $spacing--xs;
				}//end .sl_phone
			}//end medium only breakpoint
		}//end .sl_button-group

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm 0;
		}//end small down breakpoint
	}//end .sl_duo--nobackground &

	.sl_duo--testimonial & {
		p {
			font-size: 1.5rem;
			color: get-color(inverse);
		}//end p
	}//end .sl_duo--testimonial &

	.sl_cpt_duo & {
		padding: 0;
	}//end .sl_cpt_duo &

	//INSURANCE
	.sl_insurance & {
		background-color: get-color(secondary);
		padding: $spacing--xxl $spacing--xxxl;
		height: 100%;

		@include breakpoint (large only) {
			padding: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--xxl $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint

		& > * {
			color: get-color(inverse);
		}//end & > *
	}//end .sl_insurance &


	//WILDCARD
	&--wildcard {
		padding: 0;

		.sl_wildcard--accred & {
			.sl_button-group {
				justify-content: flex-start;
			}//end .sl_button-group
		}//end .sl_wildcard--accred &

		.sl_wildcard--resources &, .sl_wildcard--resources-duo .sl_cell:last-of-type & {
			@include container;
			padding: $spacing--md;

			ul {
				margin-bottom: 0 !important;
			}//end ul
		}//end .sl_wildcard--resources &
	}//end .sl_wildcard &
	
	&__release {
		h3 {
			padding-bottom: $spacing--xs;
			margin-bottom: $spacing--xs;
			border-bottom: 1px solid get-color(default-tint3);
		}//end h3

		a {
			color: get-color(default);
		}//end a
	}//end &__release;

	//SPOTLIGHT
	&--spotlight {
		.sl_spotlight--inverse & {
			background-color: get-color(default);
			color: get-color(inverse);
			border-radius: $border-radius;
			padding: $spacing--xxl;
			text-align: center;

			@include breakpoint (small down) {
				padding: $spacing--md $spacing--sm;
				border-radius: 0;
				h3 {
					font-size: 1.125rem;
				}
			}//end small down breakpoint
		}//end .sl_spotlight--inverse &
	}//end &--spotlight


	//WYSIWYG
	&--wysiwyg {
		@include container;

		.sl_wysiwyg--tabs & {
			padding: 0;
			background: none;
			box-shadow: none;
			border-radius: 0;
		}//end .sl_wysiwyg--tabs &
	}//end &--wysiwyg

	//DECK
	&--deck {
		padding: 0;
		box-shadow: $shadow;
		border-radius: $border-radius;
		overflow: hidden;
		background-color: get-color(inverse);
		height: 100%;
	}//end &--deck

	//Email
	&--email {
		background: $gradient--primary;
		border-radius: $border-radius;
	}//end &--email
	
	//Tour Module
	&--tour {
		padding: 0;
		width: 100%;

		.sl_card__content {
			padding: $spacing--md;
			text-align: center;
		}//end .sl_card__content

		@include breakpoint (small down) {
			box-shadow: $shadow;
			border-radius: $border-radius;
			overflow: hidden;
		}//end small down breakpoint
	}//end &--tour

	//SEARCH
	&--search {
		@include container;
		padding: $spacing--xxl;

		@include breakpoint (medium only) {
			padding: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint
	}//end &--search

	&--results {
		@include container;
		padding: $spacing--md;
		@include transition(all .2s ease-in-out);

		&:hover {
			box-shadow: $shadow--hover;
			transform: translateY(2px);
			cursor: pointer;
			@include transition(all .2s ease-in-out);
		}//end &:hover

		@include breakpoint (medium down) {
			padding: $spacing--sm;
		}//end medium down breakpoint
		& > * {
			color: get-color(default);
		}//end & > * 
	}//end &--results

	//FACILITY CARD
	&--facility {
		@include container;
		padding: 0;
		overflow: hidden;
		height: 100%;

		.sl_card__image {
			width: 100%;
			min-height: 160px;
			background-position: center center;
			position: relative;

			&:after {
				@include wave-overlay;
				height: 160px;
				background-position-y: 100px;
				left: -1px;
				right: -1px;
			}//end &:after

			.sl_accreditation {
				position: absolute;
				max-width: 65px;
				height: auto;
				top: $spacing--xs/2;
				left: $spacing--xs/2;
			}//end .sl_accreditations
			
			.sl_facility__type {
				font-size: rem-calc(17.5px);
				padding: $spacing--xs/1.25 $spacing--md;
				font-weight: $font-weight--regular;
				color: get-color(inverse);
				background-color: rgba( get-color(default), .55);
				border-radius: $border-radius--pill;
				position: absolute;
				top: $spacing--xs;
				right: $spacing--xs;
				text-transform: capitalize;
				line-height: 1;
			}//end .sl_facility__type
		}//end &__image

		.sl_card__content {
			padding: $spacing--md;

			@include breakpoint (large only) {
				padding: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (xsmall only) {
				padding: $spacing--sm;
			}//end xsmall only breakpoint
			
			h3 {
				font-size: rem-calc(21px);
				margin-bottom: $spacing--xs;
			}//end h3

			ul {
				list-style: none;
				margin: 0;
				margin-bottom: $spacing--sm;
				display: table;
				line-height: rem-calc(21px);

				li {
					display: inline;
					font-size: rem-calc(15px);
					font-style: italic;
					line-height: rem-calc(21px);

					&:not(:last-of-type) {
						&:after {
							content: '\2022';
							display: inline-block;
							margin-left: 3px;
							margin-right: 3px;
						}//end &:after
					}//end &:not(:last-of-type)
				}//end li
			}//end ul

			.sl_deck__phone {
				font-size: rem-calc(21px);
				font-weight:700;
				margin-bottom: $spacing--xs;
			}
		}//end &__content
	}//end &--facility

	//WEBINAR DECK CARD
	&--webinar {
		box-shadow: $shadow;
		border-radius: $border-radius;
		overflow: hidden;
		padding: 0;
		background-color: get-color(inverse);
		position: relative;
		height: 100%;
		@include transition(all .2s ease-in-out);

		&:hover {
			box-shadow: $shadow--hover;
			transform: translateY(2px);
			cursor: pointer;
			@include transition(all .2s ease-in-out);
		}//end &:hover

		.sl_card__image {
			min-height: 250px;
			background-position: center center;
			position: relative;

			@include breakpoint (large only) {
				min-height: 200px;
			}//end large only breakpoint

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__image

		.sl_card__content {
			padding: $spacing--sm;
			padding-bottom: $spacing--sm + $spacing--md;
			color: get-color(default);
				
			@include breakpoint (small down) {
				padding: $spacing--xs;
				padding-bottom: $spacing--xs + $spacing--md;
			}//end small down breakpoint

			& > .sl_row {
				margin-bottom: 0;
				position: absolute;
				bottom: $spacing--sm;
				left: $spacing--sm;
				right: $spacing--sm;

				@include breakpoint (small down) {
					bottom: $spacing--xs;
					left: $spacing--xs;
					right: $spacing--xs;
				}//end small down breakpoint

				.sl_card__date {
					text-align: right;
					font-weight: 700;
					margin-bottom: 0;
					font-size: 1rem;
				}//end .sl_card__date

				.sl_card__speaker {
					text-align: left;
					margin-bottom: 0;
					font-size: 1rem;
					line-height: 1;
				}//end .sl_card__speaker
			}//end .sl_row
			
			h3 {
				font-size: rem-calc(18px);
				margin-bottom: $spacing--xs;
				font-weight: 500;
			}//end h3

		}//end &__content
	}//end &--webinar

	//MAP
	&--map {
		padding: 0;
		.sl_card__image {
			min-height: 100px;
			width: 120px;
			background-position: center center;
			position: relative;

			@include breakpoint (small down) {
				width: 100%;
				background-position: center center;
			}//end small only breakpoint
		}//end &__image

		.sl_card__content {
			padding: 0 $spacing--xs $spacing--xs;
			text-align: left;
			width: auto;

			@include breakpoint (small down) {
				padding: $spacing--xs $spacing--xs/2;
			}//end small down breakpoint

			span {
				font-weight: $font-weight--bold;
				display: inline-block;
				margin-bottom: $spacing--xs/2;
			}//end span

			h5 {
				margin-bottom: 0;
				font-size: 1rem;
			}//end 5

			h3 {
				font-size: 1.25rem;
				margin-bottom: $spacing--xs/2;
			}//end h3

			.sl_button {
				font-size: rem-calc(17.5px);
				padding: $spacing--xs/1.25 $spacing--md;
				font-weight: $font-weight--regular;

				&--directions {
					color: get-color(default);
					text-decoration: underline;
					display: block;
					text-align: center;
				}//end &--directions
			}//end .sl_button
		}//end &__content
	}//end &--map

	//STAFF
	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	//POPUP
	&--popup {
		padding: 0;
		text-align: center;
	}//end &--popup

	//WILD NAV DECK
	&--wildnav-deck {
		@include container;
		height: 100%;
		padding: $spacing--md $spacing--sm;

		img {
			margin-bottom: $spacing--sm;
		}//end img

		h3 {
			margin-bottom: $spacing--xs;
		}//end h3
	}//end &--wildnav-deck

	&--release {
		@include container;
		padding: $spacing--md $spacing--sm;
		padding-bottom: $spacing--md + rem-calc(20px) + $spacing--sm;
		position: relative;
		height: 100%;

		@include breakpoint (large only) {
			padding: $spacing--sm;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--xs;
		}//end medium only breakpoint

		.sl_release__link {
			color: get-color(default);
		}//end .sl_release__link

		.sl_button--share {
			position: absolute;
			bottom: $spacing--md;
			left: $spacing--sm;
			margin-bottom: 0;
			opacity: .5;
			font-size: 1rem;
			font-weight: $font-weight--medium;

			@include breakpoint (medium only) {
				left: $spacing--xs;
				bottom: $spacing--xs;

				&:after {
					margin-left: $spacing--xs/2;
				}//end &:after
			}//end medium only breakpoint

			@include breakpoint (small down) {
				width: auto;
			}//end small down breakpoint
		}//end .sl_button--share

		.sl_release__date {
			font-weight: $font-weight--bold;
			line-height: 1;
			position: absolute;
			bottom: $spacing--md;
			right: $spacing--sm;

			@include breakpoint (medium only) {
				right: $spacing--xs;
				bottom: $spacing--xs;
			}//end medium only breakpoint
		}//end .sl_release__date

		&--lg {
			padding: $spacing--lg;
			padding-bottom: $spacing--lg + rem-calc(20px) + $spacing--md;
			
			@include breakpoint (large only) {
				padding: $spacing--md;
				padding-bottom: $spacing--md + rem-calc(20px) + $spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--sm;
				padding-bottom: $spacing--sm + rem-calc(20px) + $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
				padding-bottom: $spacing--sm + rem-calc(20px) + $spacing--sm;
			}//end small down breakpoint

			.sl_release__title {
				font-weight: $font-weight--bold;
				font-size: 2rem;

				@include breakpoint (medium only) {
					font-size: 1.5rem;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					font-size: 1.25rem;
				}//end small down breakpoint
			}//end .sl_release__title

			.sl_button--share {
				bottom: $spacing--lg;
				left: $spacing--lg;

				@include breakpoint (large only) {
					bottom: $spacing--md;
					left: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					bottom: $spacing--sm;
					left: $spacing--sm;
				}//end medium down breakpoint
			}//end .sl_button--share

			.sl_release__date {
				bottom: $spacing--lg;
				right: $spacing--lg;

				@include breakpoint (large only) {
					bottom: $spacing--md;
					right: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					bottom: $spacing--sm; 
					right: $spacing--sm;
				}//end medium down breakpoint
			}//end .sl_release__date
		}//end &--lg
	}//end &--release

	&--news {
		color: get-color(default);
		padding: $spacing--sm;
		padding-bottom: $spacing--sm + rem-calc(34px) + $spacing--xs;
		position: relative;
		height: 100%;

		.sl_article__source {
			position: absolute;
			line-height: 1;
			left: $spacing--sm;
			bottom: $spacing--sm + rem-calc(17px);
			margin-bottom: $spacing--xs;
		}

		.sl_article__date {
			font-weight: $font-weight--bold;
			position: absolute;
			line-height: 1;
			bottom: $spacing--sm;
			left: $spacing--sm;
		}//end .sl_article__date
	}//end &--news

	&--thumbnail {
		padding: 0;
		box-shadow: $shadow;
		border-radius: $border-radius;
		overflow: hidden;
		color: get-color(default);
		background-color: get-color(inverse);
		margin-bottom: $spacing--sm;

		.sl_card__image {
			min-height: 140px;
			width: 150px;
			padding: 0;
		}//end .sl_card__image

		& > .sl_row {
			min-height: 140px;
		}//end & > .sl_row

		.sl_card__content {
			padding: $spacing--sm $spacing--xs;

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .sl_card__content
	}//end &--thumbnail

	//CONTENT LOCKER
	&--content-locker {
		background-color: get-color(inverse);
		box-shadow: $shadow;
	}

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
