//Form
.sl_form {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;

	//Input & Select
	&__input, &__select, &__multiselect__field {
		box-shadow: $shadow--inner;
		border-radius: $border-radius--pill;
		color: get-color(default);
		margin: 0;
		height: 46px;
		padding: $spacing--xs/2 $spacing--sm;
		font-size: rem-calc(18px);
		@include border ($width: 1px);

		@include breakpoint (small down) {
			padding: $spacing--xs/2 $spacing--xs;
			font-size: 1rem;
		}//end small down breakpoint

		@include breakpoint (xsmall only) {
			font-size: rem-calc(14px);
			padding: $spacing--xs/2;
			padding-left: .8rem
		}//end xsmall only breakpoint

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
			font-size: rem-calc(18px);

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint

			@include breakpoint (xsmall only) {
				font-size: rem-calc(14px);
			}//end xsmall only breakpoint
		}//end @include placeholder
	}//end &__input and select

	&__select {
		height: auto;
		@supports (appearance: none) {
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			background-image: url(#{$path-img}icon/default-arrow-down.svg);
			background-size: 13px 9px; 
			background-position: right center;
			background-repeat: no-repeat;
		}//end @supports fix for IE 
	}//end &__select

	&__textarea {
		box-shadow: $shadow--inner;
		border-radius: $border-radius;
		color: get-color(default);
		font-size: rem-calc(18px);
		padding: $spacing--xs $spacing--sm;

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
			font-size: rem-calc(18px);
		}//end @include placeholder
	}//end &__textarea

	label {
		font-size: $font-size--regular;
	}//end label

	//Submit Button
	&__search {
		position: absolute;
		right: $spacing--sm;
		font-weight: $font-weight--regular;
		font-size: rem-calc(13px);
		top: 0;
		bottom: 0;
	}//end &__form

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	&--email {
		display: flex;
		flex-direction: row;

		@include breakpoint (small down) {
			margin: 0 auto;
			max-width: 500px;
		}//end small down breakpoint

		.sl_form__multiselect {
			width: 200px;
			max-width: 40%;
			position: relative;
			flex: 1 1 40%;
			margin-right: $spacing--xs/2;

			@include breakpoint (medium down) {
				max-width: none;
				width: 100%;
				margin: 0 0 $spacing--xs 0;
				flex: 1 1 auto;
			}//end medium down breakpoint
		}//emd .sl_form__multiselect

		.sl_form__multiselect__field {
			background-color: get-color(inverse);
			scrollbar-width: none;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			position: relative;
			margin-right: 0;
			border: none;

			&::-webkit-scrollbar {
			    display: none;
			}//end &::webkit-scrollbar

			&:focus {
				outline: none;
			    border: 1px solid #8a8a8a;
			    background-color: #fefefe;
			    -webkit-box-shadow: 0 0 5px #cacaca;
			    box-shadow: 0 0 5px #cacaca;
			    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
			}//end &:focus

			@include breakpoint (small down) {
				padding: .5rem 1rem;
    			font-size: 1rem;
			}//end small down breakpoint
		}//end .sl_form__multiselect__field

		.sl_form__input {
			flex: 1 1 40%;
			margin-right: $spacing--xs/2;
			border: none;

			@include breakpoint (medium down) {
				flex: 1 1 auto;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				padding: .5rem 1rem;
    			font-size: 1rem;

    			@include placeholder {
					font-size: 1rem;
				}//end @include placeholder
			}//end small down breakpoint
		}//end .sl_form__input

		.sl_form__multiselect__options {
			display: none;
			background-color: #ffffff;
			position: absolute;
			width: auto;
			left: 5px;
			right: 5px;
			padding: 5px 0;
			top: calc(100% - 1px);
			z-index: 1;
			box-shadow: $shadow;
			border-radius: $border-radius;

			label {
				display: block;
				padding: $spacing--xs/2 $spacing--xs;
				font-size:: 1rem;
				line-height: 1;
				position: relative;
				padding-left: rem-calc(14px) + $spacing--xs + $spacing--xs/2;
				@include transition (all .2s ease-in-out);

				&:hover {
					background-color: rgba(get-color(default),.1);
					@include transition (all .2s ease-in-out);
				}//end &:hover

				input {
					position: absolute;
					left: $spacing--xs;
					top: calc(50% - 7px);
					margin: 0;
				}//end input
			}//end label
		}//end #sl_form__multiselect__options
	}//end &--email

}//ebd .sl_search