.sl_podcast {
	background-color: get-color(default-tint1);
	padding: $spacing--sm;
	border-radius: $border-radius;
	position: relative;

	@include breakpoint (medium only) {
		padding: 0;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: 0;
		padding-bottom: $spacing--xs;
	}//end small down breakpoint

	&:not(:last-of-type) {
		margin-bottom: $spacing--md;
	}//end &:not(:last-of-type)

	&__partners {
		max-width: 625px;
		margin: 0 auto;

		.sl_cell {
			padding: 0 $spacing--xs;
			text-align: center;
		}//end .sl_cell

		a {
			display: block;
		}//end a

		img {
			max-height: 50px;
			width: auto;
		}//img
	}//end &__partners

	&__card {
		padding-right: $spacing--lg/2;

		@include breakpoint (xlarge only) {
			padding-right: 0;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding-right: $spacing--sm/2;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-right: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		.sl_card {
			padding: 0;
			border-radius: $border-radius;
			box-shadow: $shadow;
			overflow: hidden;
			height: 100%;
			background-color: get-color(default);

			@include breakpoint (medium only) {
				border-radius: 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				box-shadow: none;
				border-radius: 0;
				background: none;
			}//end small down breakpoint

			&__image {
				min-height: 250px;
				position: relative;
				background-color: #0a141f;
				background-position: center center;

				@include breakpoint (small down) {
					min-height: 175px;
					padding: $spacing--md;
				}//end small down breakpoint

				&:after {
					@include pseudo;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					background-image: linear-gradient(180deg, rgba(get-color(default), .3) 40%, rgba(get-color(default), .8) 100%);
					z-index: 0;
				}

				.sl_podcast__episode {
					position: absolute;
					bottom: $spacing--xs;
					left: $spacing--xs;
					color: get-color(inverse);
					margin-bottom: 0;
					z-index: 1;

					@include breakpoint (small down) {
						font-size: 1rem;
					}//end small down breakpoint
				}//end .sl_podcast__episode

				.sl_podcast__time {
					position: absolute;
					bottom: $spacing--xs;
					right: $spacing--xs;
					margin-bottom: 0;
					background-color: get-color(default);
					border-radius: $border-radius;
					color: get-color(inverse);
					padding: $spacing--xs/2;
					z-index: 1;

					@include breakpoint (small down) {
						font-size: 1rem;
					}//end small down breakpoint
				}//end .sl_podcast__episode
			}//end &__image

			&__content {
				padding: $spacing--sm;

				.sl_podcast__title {
					font-size: 1.5rem;
					color: get-color(inverse);

					@include breakpoint (medium only) {
						margin-bottom: $spacing--sm;
					}//end medium only breakpoint
				}//end .sl_podcast__title

				@include breakpoint (small down) {
					background: none;
					padding: $spacing--xs;

					.sl_podcast__title {
						font-size: 1.25rem;
					}//end .sl_podcast__title
				}//end small down breakpoint
			}//end &__content
		}//end .sl_card
	}//end &__card

	&__right {
		@include breakpoint (medium only) {
			padding: $spacing--sm;
		}//end medium only breakpoint
	}

	&__excerpt {
		padding: 0 $spacing--lg/2;
		padding-top: $spacing--sm;

		@include breakpoint (large only) {
			padding: 0 $spacing--sm/2;
		}//end large only breakpoint

		& > * {
			color: get-color(inverse);
		}//end & > *

		.sl_button {
			margin-bottom: 0;
			
			&:after {
				background-color: get-color(inverse);
			}//end &:after
			
			&:hover {
				color: get-color(inverse);
			}//end &:hover
		}//end .sl_button

		@include breakpoint (medium only) {
			padding: 0;
			order: 2;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0 $spacing--xs;

			h3 {
				font-size: 1.125rem;
				font-weight: $font-weight--bold;
				line-height: 1;
			}//end h3
		}//end small down breakpoint
	}//end &__excerpt

	&__info {
		display: flex;
		flex-direction: column;

		& > * {
			color: get-color(inverse);
		}//end & > *

		.sl_podcast__partners {
			margin: 0;

			.sl_cell {
				&:last-of-type {
					display: none;
				}//end &:last-of-type
			}//end .sl_cell

			@include breakpoint (medium only) {
				margin-bottom: $spacing--sm;
			}//end medium only breakpoint
		}//end .sl_podcast_partners

		@include breakpoint (medium only) {
			order: 1;

			.sl_divider {
				display: none;
			}//end .sl_divider
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0 $spacing--xs;
		}//end small down breakpoint
	}//end &__info

	&__player {
		@include container;
		overflow: hidden;
		padding: $spacing--xs;

		@include breakpoint (medium down) {
			padding: $spacing--xs/2;
			padding-bottom: 0;
			margin-bottom: $spacing--sm;
		}//end medium down breakpoint

		@include breakpoint (medium only) {
			margin-bottom: 0;
		}//end medium only breakpoint
	}//end &__player

	&__category {
		border-radius: $border-radius--pill;
		background-color: get-color(default);
		padding: $spacing--xs $spacing--sm;
		align-self: flex-end;
		margin-bottom: $spacing--md;

		@include breakpoint (medium only) {
			margin-bottom: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			position: absolute;
			top: $spacing--xs/2;
			right: $spacing--xs/2;
			padding: $spacing--xs/2 $spacing--xs;
			font-size: rem-calc(14px);
			background-color: rgba(get-color(default), .8);
		}//end small down breakpoint
	}//end &__category
}//end .sl_podcast
