.sl_popup {
	position: fixed;
	width: rem-calc(360px);
	bottom: $spacing--md;
	right: $spacing--md;
	background-color: get-color(primary);
	@include border ($color: get-color(inverse));
	border-radius: $border-radius--pill;
	box-shadow: $shadow;
	height: rem-calc(69px);
	z-index: 10;
	overflow: hidden;
	@include transition (all .5s ease-in-out, border-radius .5s ease-in-out .3s, width .5s ease-in-out .3s);

	@include breakpoint (medium only) {
		width: rem-calc(304px);
		height: rem-calc(60px);
	}//end medium only breakpoint

	&:not(.sl_active):hover{
		transform: scale(1.1) translateX(-$spacing--xs);
	}

	.sl_phone {
		align-items: center;
		margin-bottom: $spacing--sm;

		&__cta {
			text-transform: none;
			font-size: 1rem;
		}//end &__cta
	}//end .sl_phone

	h3 {
		max-width: 280px;
		margin: 0 auto $spacing--sm;
	}//end h3

	.sl_button {
		display: block;
		width: 100%;
	}//end .sl_button

	a:not(.sl_button) {
		text-decoration: underline;
		color: get-color(default);
	}//end a:not(.sl_button)

	&__open {
		opacity: 1;
		z-index: 1;
		cursor: pointer;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		color: get-color(inverse);
		font-size: 1.5rem;
		font-weight: $font-weight--medium;
		@include transition (all .5s ease-in-out .5s);

		@include breakpoint (medium only) {
			font-size: 1.25rem;
		}//end medium only breakpoint

		span {
			font-family: FontAwesome;
			margin-left: $spacing--xs/2;
		}//end span
	}//end &__open

	.sl_card {
		opacity: 0;
		position: absolute;
		left: $spacing--md;
		right: $spacing--md;
		bottom: rem-calc(-338px);
		@include transition (all .5s ease-in-out);
	}//end .sl_card

	&.sl_active {
		@include container;
		height: rem-calc(338px);
		width: rem-calc(413px);
		border: none;
		@include transition (all .5s ease-in-out .3s, border-radius .5s ease-in-out, width .5s ease-in-out);
		 -webkit-transition: all .5s ease-in-out .3s;

		@include breakpoint (medium only) {
			width: rem-calc(349px);
		}//end medium only breakpoint

		.sl_popup__open {
			z-index: 0;
			opacity: 0;
			@include transition (all .5s ease-in-out);
		}
		.sl_card {
			opacity: 1;
			bottom: $spacing--md;
			@include transition (all .5s ease-in-out .3s);

			@include breakpoint (medium only) {
				bottom: $spacing--sm;
			}//end medium only breakpoint

			.sl_button {
				@include transition(none);

				&:hover {
					@include transition(none);
				}//end &:hover
			}//end .sl_button
		}//end .sl_card
	}//end &.sl_active
}//end .sl_popup