.sl_tooltip{
	@extend .tooltip; //Foundation 6 Class
	box-shadow: $shadow;
	width: auto;

	&__word {
		font-weight: $font-weight--bold;
	}//end &__word

	&--insurance {
		max-width: 350px;
	}
}//end .sl_tooltip