/* ------------------
1. Accreditations
2. Email
3. Social
4. Menu
--------------------- */

.sl_footer {

	//1. Accreditations
	&__accreditations {
		background-color: get-color(inverse-tint1);
		padding: $spacing--xxl 0;

		@include breakpoint (large only) {
			padding: $spacing--xl 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--lg 0 $spacing--md 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint

		h2 {
			text-align: center;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--lg;
			}//end medium only breakpoint
		}//end h2

		.sl_inner {
			@include innerpadding ($p-large: $spacing--xl - $spacing--sm/2);
		}//end .sl_inner
		
		.sl_row {
			.sl_cell {
				padding: 0 $spacing--sm/2;

				@include breakpoint (medium only) {
					margin-bottom: $spacing--lg;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--sm;
					@include container;
					margin-bottom: $spacing--sm;
					text-align: center;

					&:last-of-type {
						margin-bottom: 0;
					}//end &:last-of-type
				}//end small down breakpoint

				h3 {
					line-height: 1;
					margin-bottom: $spacing--xs;
					font-size: 1.25rem;

					@include breakpoint (small down) {
						margin-bottom: $spacing--xs/2;
					}//end small down breakpoint
				}//end h3
				
				//Toggle Button
				.sl_accred-toggle {
					margin-bottom: 1rem;
    				font-weight: 700;
    				font-size: 1.125rem;
    				line-height: 1.25;
    				color: get-color(default);
				}//end .sl_accred-toggle;

				.sl_logo{
					height: 90px;
					margin-bottom: $spacing--sm;
					display: flex;
					align-items: center;

					@include breakpoint (small down) {
						text-align: center;
					}//end small down breakpoint

					img {
						max-height: 100%;
						width: auto;

						@include breakpoint (small down) {
							margin: 0 auto;
						}//end small down breakpoint
					}//end img

					&--naatp {
						img {
							width: 100%;
							max-width: 250px;
							height: auto;

							@include breakpoint (medium down) {
								width: auto;
							}//end small only breakpoint
						}//end img
					}//end &--naatp
					
					//Legit Script Link
					a {
						@include breakpoint (small down) {
							margin: 0 auto;
						}//end small down breakpoint
					}//end a
				}//end .sl_logo

				p {
					font-size: rem-calc(15px);

					@include breakpoint (small down) {
						display: none;

						&.active {
							display: block;
							padding-top: $spacing--xs;
						}//end &.active
					}//end small down breakpoint
				}//end p

				& > :last-child {
					margin-bottom: 0;
				}
			}//end .sl_cell
		}//end .sl_row
	}//end &__accreditations

	//2. Email
	&__email {
		background-color: get-color(default);
		padding: $spacing--lg 0;
		z-index: 2;
		position: relative;

		@include breakpoint (medium only) {
			padding: $spacing--md 0;
		}//end medium only breakpoint

		.sl_card--email {
			padding: 0;
			background: none;

			h3 {
				color: get-color(inverse);
				text-align: left;

				@include breakpoint (medium down) {
					text-align: center;
				}//end medium down breakpoint
			}//end h3

			.sl_form {
				margin-left: 0;
				max-width: none;

				@include breakpoint (medium down) {
					flex-direction: column;

					&__multiselect, &__input {
						width: 100%;
						margin: 0 0 $spacing--xs 0;
					}//end small down breakpoint
				}//end medium down breakpoint

				@include breakpoint (small down) {
					margin: 0 auto;
				}//end small down breakpoint

				.sl_button {
					@extend .sl_button--dark;

					@include breakpoint (medium down) {
						width: 100%;
					}//end medium down breakpoint
				}//end .sl_button
			}//end .sl_form

			#mce-responses {
				text-align: center;
				color: get-color(inverse);
				.response {
					padding: $spacing--xs 0 0;

					a {
						display: block;
					}//end a
				}//end .response
			}//end #mce-responses
		}//end .sl_card--email
	

		.sl_inner {
			& > .sl_row {
				align-items: center;

				.sl_cell {
					p {
						color: get-color(inverse);

						@include breakpoint (small down) {
							text-align: center;
						}//end small down breakpoint

					}//end p

					& > :last-child { margin-bottom: 0; }
				}//end .sl_cell

				& > .sl_cell {

					//EMAIL
					&:first-of-type {

						@include breakpoint (medium only) {
							padding-right: $spacing--sm;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							margin-bottom: $spacing--md;
						}//end small down breakpoint
						
					}//end &:first-of-type

					//LOGO and ADDRESS
					&:last-of-type {
						display: flex;
						justify-content: flex-end;
						padding-left: $spacing--sm;

						@include breakpoint (large only) {
							padding-left: $spacing--xs;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding-left: 0;
						}//end medium down breakpoint

						@include breakpoint (small down) {
							justify-content: center;
						}//end small down breakpoint

						p {
							margin-bottom: 0;
							&:first-of-type {
								font-weight: $font-weight--medium;
							}//end &:first-of-type;

							@include breakpoint (small down) {
								text-align: center;
							}//end small down breakpoint
						}//end p
						a {
							color: get-color(inverse);
						}//end a
					}//end &:last-of-type

				}//end & > .sl_row
			}//end & > .sl_row
		}//end .sl_inner
	}//end &__email

	//3. Social
	&__socials {
		& > .sl_row {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;

			@include breakpoint (medium down) {
				flex-direction: column;
				align-items: flex-start;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				align-items: center;
			}//end small down breakpoint
			
			& > .sl_cell:first-of-type {
				flex: 0 1 auto;
				width: auto;

				h3 {
					margin-bottom: 0;

					@include breakpoint (medium only) {
						margin-bottom: $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
					}//end small down breakpoint
				}//end h3
			}//end & > .sl_cell:first-of-type

			& > .sl_cell:last-of-type {
				flex: 1 1 auto;
				width: auto;
				margin-left: 1.25rem;

				@include breakpoint (medium down) {
					margin: 0;
				}//end medium down breakpoint
			}//end & > .sl_cell:last-of-type
		}//end & > .sl_row

		.sl_socials {

			@include breakpoint (small down) {
				max-width: 300px;
			}//end small down breakpoint
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					width: 20%;
				}//end small down breakpoint
			
				&.bbb {
					@include breakpoint (small down) {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-top: $spacing--sm;
					}//end small down breakpoint
				}//end &.bb
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials


	//4. Menu
	&__menu {
		padding: $spacing--xxl 0;

		@include breakpoint (large only) {
			padding: $spacing--xl 0;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding: $spacing--md 0;
		}//end medium down breakpoint
		
		.sl_inner {

			//SOCIAL AND BILL BUTTON
			& > .sl_row {
				margin-bottom: $spacing--xxl;
				align-items: center;
				justify-content: space-between;

				@include breakpoint (small down) {
					margin-bottom: $spacing--md;
				}//end small down breakpoint

				& > .sl_cell {
					
					&:first-of-type {
						@include breakpoint (small down) {
							order: 2;
						}//end small down breakpoint
					}
					//BILL BUTTON
					&:last-of-type {
						display: flex;
						justify-content: flex-end;

						@include breakpoint (small down) {
							order: 1;
							justify-content: center;
							margin-bottom: $spacing--md;
						}//end small down breakpoint

						.sl_button {
							margin-bottom: 0;
						}//end .sl_button
					}//end &:last-of-type
				}//end .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
		

		.sl_menu {
			justify-content: flex-start;
			margin-bottom: $spacing--lg;

			& * {
				color: get-color(default-tint1);
			}//end & > *

			ul {
				list-style: none;
				margin: 0;
			}//end ul

			& > li {
				font-weight: $font-weight--bold;
				flex: 0 0 20%;
				margin-bottom: $spacing--sm;
				font-size: 1rem;

				@include breakpoint (medium only) {
					flex: 0 0 25%;
					max-width: 25%;
				}//end medium only breakpoint

				.sl_submenu {
					padding-top: $spacing--xs;
					& > li {
						font-weight: $font-weight--regular;
						margin-bottom: $spacing--xs/2;
						font-size: rem-calc(15px);

						a {
							line-height: 1.25;
						}
					}//end & > li
				}//end .sl_submenu
			}//end & > li

			a {
				padding: 0;
			}//end a
		}//end .sl_menu
	}//end &__menu

	.frn_footer {
		p {
			text-align: left;

			@include breakpoint (small down) {
				text-align: center;
			}//end small down breakpoint

			a {
				color: get-color(default);
				text-decoration: underline;
			}//end a
		}//end p
	}//end .frn_footer

}//end .sl_footer