//Content
.sl_content {
	padding-top: $spacing--xl + $spacing--xxl;

	@include breakpoint (xxxlarge only) {
		padding-top: $spacing--lg + $spacing--xxl;
	}//end xxxlarge only breakpoint

	@include breakpoint (large only) {
		padding-top: $spacing--xl + $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg + $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--lg;
	}//end small down breakpoint
	
	body.home & {
		padding-top: 0 !important;
	}//end body.home .sl_content

	body.page-template-template-landing &, body.post-type-archive-sl_podcasts_cpts &, body.post-type-archive-sl_research_cpts &, body.blog &, body.post-template-default &, body.single-sl_research_cpts &, body.single-sl_locations_cpts &, body.search &, body.error404 &, body.single-sl_event_cpts &, body.page-template-template-webinar & {
		padding-top: $spacing--lg;

		@include breakpoint (medium only) {
			padding-top: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--sm;
		}//end small down breakpoint
	}//end body.home .sl_content

	body.single-sl_podcasts_cpts & {
			padding-top: $spacing--xl + $spacing--xxl + $spacing--xl;

			@include breakpoint (large only) {
				padding-top: $spacing--xxl * 2;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding-top: $spacing--lg + $spacing--md;
			}//end small down breakpoint
	}//end body.single-sl_podcasts_cpts &

	body.single-sl_webinars_cpts & {
		@include breakpoint (small down) {
			padding-top: $spacing--md;
		}//end small down breakpoint
	}

	body.single-sl_staff_cpts & {
		@include breakpoint (small down) {
			padding-top: $spacing--lg;
		}//end small down breakpoint
	}


	body.category & {
		padding-top: $spacing--xl + $spacing--xxl;
		
		@include breakpoint (medium only) {
			padding-top: $spacing--lg*2;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--md*2;
		}//end small down breakpoint
	}//end body.category .sl_content
}//end .sl_content

//Inner
.sl_inner {
	@include inner;
	position: relative;
	z-index: 1;
}//end .sl_inner