// 1. Default Post Single
// 2. Recovery Unscripted Single
// 3. Staff Single
// 4. Webinar Single
// 5. Events Single
// 6. Research Single
//------------------------------

// 1. DEFAULT POST SINGLE
.post-template-default {
	.sl_post {
		&__header {
			@include inner;
			@include innerpadding ($p-xsmall: 0, $p-small: 0);
			position: relative;
			z-index: 1;

			& > .sl_row {
				background-color: get-color(inverse);
				border-radius: $border-radius;
				box-shadow: $shadow;
				padding: $spacing--lg $spacing--xl;

				@include breakpoint (medium only) {
					padding: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					border-radius: 0;
					box-shadow: none;
					padding: 0;
				}//end small down breakpoint

				.sl_duo__content {
					padding-right: $spacing--md;

					@include breakpoint (medium only) {
						order: 2;
						padding: 0;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						order: 2;
						padding: 0 $spacing--sm;

						&.large-8 {
							padding-top: $spacing--sm;
						}
					}//end small down breakpoint

					.sl_card {
						padding: 0;
						width: 100%;
					}//end .sl_card
				}//end .sl_duo__content

				.sl_duo__media {
					border-radius: $border-radius;
					overflow: hidden;

					@include breakpoint (medium only) {
						order: 1;
						margin-bottom: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						order: 1;
						min-height: 200px;
						margin-bottom: $spacing--sm;
						border-radius: 0;
					}//end small down breakpoint

					&__container {
						.sl_duo__image {
							box-shadow: none;
						}//end .sl_duo__image
					}//end &__container
				}//end .sl_duo__media
			}//end & > .sl_row

			.sl_divider {
				height: 1px;
				width: 100%;
				max-width: 400px;
				background-color: get-color(default-tint3);
				margin: 0 0 $spacing--sm 0;

				@include breakpoint (medium only) {
					max-width: none;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end .sl_divider
		}//end &__header

		&__category {
			line-height: 1;
			span {
				font-weight: $font-weight--medium;
			}//end span

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end &__category

		&__title {
			line-height: 3rem;

			@include breakpoint (large only) {
				font-size: 2rem;
				line-height: 1.25;
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.5rem;
				line-height: 1.25;
				font-weight: $font-weight--regular;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end &__title

		&__author {
			font-size: 1.125rem;
			line-height: 1;

			a {
				color: get-color(default);
			}//end a

			@include breakpoint (small down) {
				font-size: $font-size--regular;
			}//end small down breakpoint
		}//end &__author

		&__date {
			opacity: .6;
			line-height: 1;
		}//end &__date
	}//end .sl_post

	.sl_content {
		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			.sl_inner {
				// max-width: 1050px;
				font-size: 1.25rem;

				@include breakpoint (small down) {
					font-size: $font-size--regular;
				}//end small down breakpoint

				p, li {
					font-size: 1.25rem;

					@include breakpoint (small down) {
						font-size: $font-size--regular;
					}//end small down breakpoint
				}//end p

				img {
					@include breakpoint (small down) {
						width: 100%;
						height: auto;
					}//end small down breakpoint
				}//end img
				
				//Content Grid

				@include breakpoint (small down) {
					.sl_button--share {
						width: auto;
					}
				}//end small down breakpoint

				& > .sl_row {
					justify-content: center;
					& > .sl_cell {
						//Share Cell
						&:first-of-type {
							@include breakpoint (medium only) {
								display: none;
							}//end medium only breakpoint
						}//end first-of-type

						//Sidebar Cell
						&:last-of-type {
							padding-left: $spacing--lg;

							@include breakpoint (small down) {
								padding: 0;
							}//end small down breakpoint
						}//end &:last-of-type
					}//end & > .sl_cell
				}//end & > .sl_row
				
				//FRN Plugin Table of Contents
				.frn_toc {
					max-width: 40%;
					padding: $spacing--md;
					@include border ($color: get-color(default-tint3));
					margin-right: $spacing--md;
					margin-bottom: $spacing--sm;

					@include breakpoint (medium only) {
						float: left;
						padding: $spacing--sm;
						margin-right: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						max-width: 100%;
						display: block;
						padding: $spacing--sm;
						margin-right: 0;
					}//end small down breakpoint

					&_inner{
						margin: 0 !important;
						padding: 0 !important;

						h2 {
							font-size: 1.625rem;
							padding-bottom: 1rem;
							border-bottom: 1px solid get-color(default-tint3);
							margin-bottom: 1rem;
						}//end h2

						ul {
							list-style: none;
							margin: 0 0 0 $spacing--xs + rem-calc(13px);

							li {
								font-size: $font-size--regular;
								line-height: 1.6;
								margin-top: 0;
								margin-bottom: 1rem;

								@include breakpoint (medium only) {
									padding: 0;
									line-height: 1.25rem;
								}//end medium only breakpoint

								@include breakpoint (small down) {
									font-size: 1rem;
									line-height: 1.25;
								}//end small down breakpoint

								&:before {
									content: '';
									display: inline-block;
									background-image: url(#{$path-img}icon/blue-arrow-right.svg);
									background-repeat: no-repeat;
									background-size: contain;
									width: 13px;
									height: 13px;
									margin-right: $spacing--xs;
									margin-left: -$spacing--xs - rem-calc(13px);
								}//end &:before

								&:last-of-type {
									margin-bottom: 0;
								}//end &:last-of-type

								a {
									color: get-color(default);
								}//end a
							}//end li
						}//end ul
					}//end &_inner
				}//end .frn_toc
			}//end .sl_inner
		}//end &__body

		&__post {
			.sl_button {
				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}
		}
		
		//Categories Sidebar
		&__categories {
			&__container {
				h4 {
					opacity: .8;
					padding-bottom: $spacing--xs;
					border-bottom: 1px solid get-color(default-tint3);
				}//end h4

				ul {
					list-style: none;
					margin: 0;

					li {
						@include breakpoint (small down) {
							display: inline-block;
						}//end small down breakpoint

						&:not(:last-of-type) {
							margin-bottom: $spacing--xs/2;
						}//&:not(:last-of-type)

						a{
							padding: $spacing--xs/2;
							background-color: get-color(default-tint1);
							color: get-color(inverse);
							border-radius: $border-radius;
							text-transform: lowercase;
							font-size: 1rem;
							line-height: 1;
							display: inline-block;
						}//end a

						&:last-of-type{
							margin-bottom: 0;
						}//end &:last-of-type
					}//end li
				}//end ul
			}//end &__container
		}//end &__categories
	}//end .sl_content
}//end .post-template-default

// 2. RECOVERY UNSCRIPTED SINGLE
.single-sl_podcasts_cpts {

	.sl_podcast {
		&__episode {
			margin-bottom: $spacing--xs/2;
		}//end &__episode

		&__title {
			margin-bottom: $spacing--xs;

			@include breakpoint (small down) {
				font-size: 1.5rem;
			}//end small down breakpoint
		}//end &__title

		&__guest {
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end &__guest

		&__image {
			border-radius: $border-radius;
			margin-bottom: $spacing--md;
			max-width: 600px;
			width: 100%;
		}//end &__image

		&__summary {
			padding-bottom: $spacing--lg;
			margin-bottom: $spacing--lg;
			border-bottom: 1px solid get-color(default-tint3);

			@include breakpoint (small down) {
				padding-bottom: 0;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end &__summary

		&__transcript {
			font-size: 1.25rem;

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint

			p {
				font-size: 1.25rem;

				@include breakpoint (small down) {
					font-size: 1.125rem;
				}//end small down breakpoint
			}//end p
		}//end &__transcript
	}//end .sl_podcast

	.sl_content {
		&__body {
			padding-bottom: $spacing--xxl;
		}//end &__body
		&__footer {
			background-color: get-color(default);
			padding: $spacing--xl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			h2 {
				color: get-color(inverse);
				text-align: center;
				margin-bottom: $spacing--lg;

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end h2

			.sl_podcast__partners {
				@include breakpoint (small down) {
					align-items: center;
					justify-content: center;

					a {
						padding: $spacing--sm/2 0;
					}//end a

					img {
						max-height: 40px;
						width: auto;
					}//end img
				}//end small down breakpoint
			}//end .sl_podcast__partners
		}//end &__footer
	}//end .sl_content
}//end .sinlge-sl_podcasts_cpts

// 3. STAFF SINGLE
.single-sl_staff_cpts {
	.sl_content {
		&__body {
			padding-bottom: $spacing--xxl;

			@include breakpoint (medium only) {
				padding-bottom: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-bottom: $spacing--md;
			}//end small down breakpoint
			
			.sl_inner {
				& > .sl_row {
					& > .sl_cell {
						&:first-of-type {
							@include breakpoint (small down) {
								margin-bottom: $spacing--sm;
							}//end small down breakpoint
						}//end & :first-of-type;

						&:last-of-type {
							padding-left: $spacing--xl;

							@include breakpoint (large only) {
								padding-left: $spacing--lg;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								padding-left: $spacing--xs;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								padding-left: 0;
							}//end small down breakpoint
						}//end &:last-of-type
					}//end & > .sl_cell
				}//end & > .sl_row

				.sl_staff__image {
					border-radius: $border-radius;
					min-height: 450px;

					@include breakpoint (medium down) {
						min-height: 350px;
					}//end medium down breakpoint

					@include breakpoint (small down) {
						max-width: 375px;
						margin: 0 auto;
					}//end small down breakpoint
				}//end &.sl_staff__image
			}//end .sl_inner
		}//end &__body
	}//end .sl_content
}//end .single-sl_staff_cpts

// 4. WEBINAR SINGLE
.single-sl_webinars_cpts {
	.sl_content__body {
		.sl_webinar-single {
			&__intro {
				.sl_inner {
					& > .sl_row {
						.sl_cell {
							&:not(.large-6) {
								max-width: 900px;
								margin: 0 auto;
							}//end &:not(.large-6)

							& > :last-child {
								margin-bottom: 0;
							}//end & > :last-child

							&.large-6 {
								&:first-of-type {
									padding-right: $spacing--md;

									@include breakpoint (large only) {
										padding-right: $spacing--sm;
									}//end large only breakpoint

									@include breakpoint (medium down) {
										max-width: 600px;
										margin: 0 auto;
										margin-bottom: $spacing--sm;
										padding: 0;
									}//end medium only breakpoint

									@include breakpoint (small down) {
										margin-bottom: $spacing--xs;
									}//end small down breakpoint
								}//end &:first-of-type

								&:last-of-type {
									padding-left: $spacing--md;

									@include breakpoint (large only) {
										padding-left: $spacing--sm;
									}//end large only breakpoint

									@include breakpoint (medium down) {
										padding: 0;
									}//end medium down breakpoint
								}//end &:last-og-type

								.responsive-embed {
									border-radius: $border-radius;
									overflow: hidden;
								}//end .responsive-embed

								@include breakpoint (large only) {
									h1 {
										font-size: 2rem;
										margin-bottom: $spacing--sm;
									}//end h1

									h3 {
										font-size: 1.5rem;
										margin-bottom: $spacing--xs;
									}//end h3
								}//end large only breakpoint
							}//end &.large-6

							@include breakpoint (small down) {
								h1 {
									font-size: 1.5rem;
									margin-bottom: $spacing--sm;
								}
							}//end small down breakpoint
						}//end .sl_cell
					}//end  & > .sl_row
				}//end .sl_inner
			}//end &__intro
		}//end .sl_webinar-single
	}//end .sl_content
}//end .single-sl_webinars_cpts

// 5. EVENTS SINGLE
.single-sl_event_cpts {
	.sl_content {
		&__body {
			.sl_eventsintro {
				.sl_inner {
					.sl_card {
						@include container;

						h1 {
							margin-bottom: $spacing--xs;
						}//end h1

						h3 {
							margin-bottom: $spacing--xs/2;
						}//end h3

						h4 {
							margin-bottom: $spacing--md;
						}//end h4
					}//end .sl_card
				}//end .sl_inner
			}//end .sl_eventsintro

			.sl_eventscta {
				padding-bottom: $spacing--xxl;

				@include breakpoint (xlarge down) {
					padding-top: 0;
					padding-bottom: 0;
				}//end xlarge down breakpoint
				.sl_inner {
					border-radius: $border-radius;
					background-color: get-color(secondary);

					@include breakpoint (xlarge down) {
						border-radius: none;
					}//end xlarge down breakpoint

					.sl_card {
						text-align: center;

						 h2 {
						 	color: get-color(inverse);
						 }//end h2
					}//end .sl_card
				}//end .sl_inner
			}//end .sl_eventscta
		}//end &__body
	}//end .sl_content
}//end .single-sl_event_cpts

// 6. RESEARCH SINGLE
.single-sl_research_cpts {
	.sl_post {
		&__header {

			.sl_card {
				@include container;
			}

			.sl_divider {
				height: 1px;
				width: 100%;
				max-width: 400px;
				background-color: get-color(default-tint3);
				margin: 0 0 $spacing--sm 0;

				@include breakpoint (medium only) {
					max-width: none;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end .sl_divider
		}//end &__header

		&__title {
			line-height: 3rem;

			@include breakpoint (large only) {
				font-size: 2rem;
				line-height: 1.25;
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.5rem;
				line-height: 1.25;
				font-weight: $font-weight--regular;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end &__title

		&__date {
			opacity: .6;
			line-height: 1;
		}//end &__date
	}//end .sl_post

	.sl_content {
		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			.sl_inner {
				// max-width: 1050px;
				font-size: 1.25rem;

				@include breakpoint (small down) {
					font-size: $font-size--regular;
				}//end small down breakpoint

				p, li {
					font-size: 1.25rem;

					@include breakpoint (small down) {
						font-size: $font-size--regular;
					}//end small down breakpoint
				}//end p

				img {
					@include breakpoint (small down) {
						width: 100%;
						height: auto;
					}//end small down breakpoint
				}//end img
				
				//Content Grid

				@include breakpoint (small down) {
					.sl_button--share {
						width: auto;
					}
				}//end small down breakpoint

				& > .sl_row {
					justify-content: center;
					& > .sl_cell {
						//Share Cell
						&:first-of-type {
							@include breakpoint (medium only) {
								display: none;
							}//end medium only breakpoint
						}//end first-of-type
					}//end & > .sl_cell
				}//end & > .sl_row
				
			}//end .sl_inner
		}//end &__body

		&__post {
			.sl_button {
				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end .sl_button
		}//end &__post
	}//end .sl_content
}//end .single-sl_research_cpts
