//LATEST WEBINAR
.sl_latest_webinar {
	.sl_inner {
		& > h2 {
			color:get-color(inverse); 
		}//end h2
	}//end .sl_inner
}//end .sl_latest_webinar

//UPCOMING WEBINAR 
.sl_upcoming_webinar {
	.sl_inner {
		& > h2 {
			color: get-color(inverse); 
		}//end h2
	}//end .sl_inner

	.sl_card--upcoming_webinar {
		@include container;
		padding: $spacing--lg;

		@include breakpoint (medium only) {
			padding: $spacing--md $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm;
		}//end small down breakpoint

		& > .sl_row {
			& > .sl_cell {
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					justify-content: center;
				}//end small down breakpoint
				
				&:first-of-type {
					justify-content: center;
				}//end &:first-of-type
			}//end & > .sl_cell
		}//end & > .sl_row
	}//endn .sl_card--webinar

	&__image {
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		width: 300px;
		height: 300px;

		@include breakpoint (medium only) {
			width: 200px;
			height: 200px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin: $spacing--sm auto;
			width: 200px;
			height: 200px;
		}//end small down breakpoint
	}//end &__image

	&__content {
		width: 100%;
		max-width: 500px;

		a {
			h3 {
				color: get-color(default);

			}//end h3
		}//end a

		h4 {
			margin-bottom: $spacing--md;
		}//end h4
	}//end &__content

	.sl_button-group {
		border-top: 1px solid get-color(default-tint3);
		padding-top: $spacing--md;
		.sl_button {
			flex: 1 1 auto;
		}//end .sl_button
	}//end .sl_button-group
}//end .sl_upcoming_webinar

//WEBINAR DECK
.sl_webinar_deck {
	padding-top: $spacing--xxl;

	@include breakpoint (large only) {
		padding-top: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--md;
	}//end small down breakpoint

	.sl_inner {
		@include innerpadding($p-small: $spacing--sm, $p-medium: $spacing--md  - $spacing--sm/2, $p-large: $spacing--lg - $spacing--xs/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);

		& > h2 {
			margin-bottom: $spacing--lg;
			padding-left: $spacing--sm/2;

			@include breakpoint (large only) {
				padding-left: $spacing--xs/2;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				text-align: center;
				padding-left: 0;
			}//end medium down breakpoint

			@include breakpoint (medium only) {
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end & > h2
	}//end .sl_inner
	
	&__grid {
		padding-bottom: $spacing--sm;

		@include breakpoint (small down) {
			padding-bottom: 0;
		}//end small down breakpoint

		& > .sl_cell {
			padding: 0 $spacing--sm/2;
			margin-bottom: $spacing--sm;

			@include breakpoint (large only) {
				padding: 0 $spacing--xs/2;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end &__grid

	.infinite-scroll-button {
		margin: 0 auto;

		&:hover, &:focus, &:active, &[disabled] {
			background-color: get-color(inverse);
			color: get-color(default);
		}//end &:hover

		&[disabled]{
			visibility: hidden;
		}//end &:active
	}//end .infinte-scroll-button

	.infinte-scroll-error {
		color: get-color(inverse);
	}//end .infinite-scroll-error

	.loader-ellips__dot {
		background: get-color(default);
	}//end .loader-ellips__dot
	
}//end .sl_webinar_deck