{% extends "base.twig" %}

{% block content %}

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    
    {# Upcoming Webinar Section if exists #}
    {% if upcomingwebinars %}
    <section class="sl_content__body">
        <div class="sl_module sl_upcoming_webinar">
	       <div class="sl_inner"> 
                <h2>Upcoming Webinar</h2>

                {% for webinar in upcomingwebinars %}
                {% if loop.first %}{# Just grab most upcoming webinar #}
                <div class="sl_card sl_card--upcoming_webinar">
                    <div class="sl_row">
                        
                        {# WEBINAR GUEST IMAGE #}
                        <div class="sl_cell large-5 medium-5 small-12">
                            <div class="sl_upcoming_webinar__image" style={% if webinar.webinar_image %}"background-image: url({{Image(webinar.webinar_image).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/backgrounds/webinar-background.jpg)"{% endif %}></div>
                        </div>{# /.sl_cell #}
                        
                        {# WEBINAR CONTENT #}
                        <div class="sl_cell large-7 medium-7 small-12">

                            <div class="sl_upcoming_webinar__content">
                                <h5>{% if webinar.webinar_date %}{{webinar.webinar_date|date("F j, Y | g:ia T")}}{% else %}TBD{% endif %}{% if webinar.add_ceu == 1 %} | Earn 1 CE credit{% endif %}</h5>
                                <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}/"><h3>{{webinar.webinar_title|truncate(16)}}</h3></a>
                                <h4>{{webinar.guest_speaker}}</h4>
                                
                                {# WEBINAR CALL TO ACTION #}
                    	        <div class="sl_button-group">
                        	        <a href="{{webinar.webinar_register_url}}" class="sl_button">Register</a>
                        	        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}/" class="sl_button sl_button--secondary">Learn More</a>
                    	        </div>{# /.sl_button-group #}
                            </div>{# /.sl_featured_webinar__content #}
                        </div>{# /.sl_cell #}

                    </div>{# /.sl_row #}
                </div>{# /.sl_card--webinar#}
            {% endif %}
            {% endfor %}
        	</div>{# /.sl_inner #}
        </div>{# /.sl_featured_webinar #}
        
        {# Latest Webinar if no Upcoming #}
        {% else %}
        <div class="sl_module sl_webinar sl_latest_webinar">
            <div class="sl_inner"> 
                <h2>Latest Webinar</h2>

                {% for webinar in latwebinars %}  
                {% if loop.first %}{# Just grab most upcoming webinar #}
                    <div class="sl_row">
                        
                        <div class="sl_webinar__media sl_cell large-6 medium-5 small-12">
                            {# WEBINAR GUEST IMAGE #}
                            <div class="sl_webinar__image" style={% if webinar.thumbnail %}"background-image: url({{Image(webinar.thumbnail).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/backgrounds/webinar-background.jpg)"{% endif %}></div>
                        </div>{# /.sl_cell #}

                        <div class="sl_webinar__content sl_cell large-6 medium-7 small-12">
                            {# WEBINAR CONTENT #}
                            <div class="sl_webinar__card sl_card">
                                <h5>{% if webinar.webinar_date %}{{webinar.webinar_date|date("F j, Y")}}{% endif %}</h5>
                                <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}"><h3>{{webinar.webinar_title|truncate(12)}}</h3></a>
                                <h4>{{webinar.guest_speaker}}</h4>
                                <div class="sl_button-group">
                                    <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}/" class="sl_button sl_button--secondary">Learn More</a>
                                    <a class="sl_button sl_button--share st-custom-button" data-network="sharethis">Share</a>
                                </div>{# /.sl_button-group #}
                            </div>{# /.sl_card #}
                        </div>{# /.webinar_content #}

                    </div>{# /.sl_row #}
                {% endif %}
                {% endfor %}
            </div>{# /.sl_inner #}
	    </div>{# /.sl_latest_webinar #}
        {% endif %}

		<section class="sl_webinar_deck" id="sl_webinar_deck">
			<div class="sl_inner">

			<h2>All Webinars</h2>

			<div class="sl_row large-up-3 medium-up-2 sl_webinar_deck__grid" id="sl_webinar_deck__grid">
		        	{% for webinar in webinars %}
                        {# Don't Display most recent or upcoming #}
                        <div class="sl_cell sl_webinar_deck__item">
                            {% include 'partials/webinar-deck-card.twig' %}
                        </div>{# /.sl_cell #}
			        {% endfor %}

					{% include 'pagination.twig' with {'posts': webinars, pagination: webinars.pagination({show_all: false, mid_size: 3, end_size: 1})} %}
			</div>{# /.sl_podcast__box #}

				<div class="page-load-status">
  					<div class="loader-ellips infinite-scroll-request">
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
  					</div>{# /.loader-ellips #}
  						<p class="infinite-scroll-error">No more webinar episodes</p>
				</div>{# /.page-load-status #}

				<button class="sl_button sl_button--hollow infinite-scroll-button hide">Show More</button>

	    	</div>{# /.sl_inner #}
		</section>{# /.sl_webiner_deck #}

        {# MODULES #}
		{% if modules %}
		{% for module in modules %}
			{% set mylayout = (module.acf_fc_layout) %}
			{% include 'module-'~mylayout~'.twig' with {this : module} %}
		{% endfor %}
		{% endif %}
		{# END MODULES #}
    </section>{# /.content--body#}
</article>
{% endblock %}