{% extends 'partials/sidebar.twig' %}

{% block content %}

	{# SEARCH #}
	{% include 'partials/sl_search.twig' %}

	{# CATEGORIES #}
	<ul class="accordion sl_accordion sl_accordion--categories" data-accordion data-multi-expand="true" data-allow-all-closed="true">
		<li class="accordion-item sl_accordion__item" data-accordion-item>
			<a href="#" class="accordion-title sl_accordion__title">Categories</a>
			<div class="accordion-content sl_accordion__content" data-tab-content>
				<ul>
				{# Loop through category taxonomies #}
				{% for category in categories %}
					<li>
					<a href="{{site.link}}/category/{{category.slug}}/">{{ category.name }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>{# /.sl_accordion__content #}
		</li>{# /.sl_accordion__item #}
	</ul>{# /.sl_accordion #}

    <div class="sl_sidebar__articles">
    {# Featured Article #}   
    <h2>Featured Article</h2>
    {% for article in Post(option.article) %}
        
        {% if loop.first %}
        <a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--md">
            
                {# Card Image #}
                <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
                    <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
                </div>{# /.first_article_link #}

                {# Card Content #}
                <div class="sl_cell auto sl_card__content">
                    <h4 class="sl_article__title">{{ article.title|truncate(12) }}</h4>
                    {% if post.author_name %}
                        <p class="sl_article__author">By: {{article.author_name}}</p>
                    {% endif %}
                    <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
                </div>{# /.sl_cell auto.sl_card__content #}
        </a>{# /.sl_card.sl_articles__card #}
        {% endif %}
    {% endfor %}

    {# Trending Articles #}
    <h3>Trending Articles</h3>
    {% for article in Post(option.article) %}
        
        {% if not loop.first %}
        <a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--sm">
            
            <div class="sl_row">
                
                {# Card Image#}
                <div class="sl_cell sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})"></div>

                {# Card Content #}
                <div class="sl_cell auto sl_card__content">
                    <p class="sl_article__category">Posted In: {{ article.terms('category')|first }}</p>
                    <h4 class="sl_article__title">{{ article.title|truncate(12) }}</h4>
                </div>{# /.sl_cell auto.sl_card__content #}
            </div>{# /.sl_row #}
        </a>{# /.sl_card.sl_articles__card #}
        {% endif %}

    {% endfor %}
    </div>{# /.sl_sidebar__articles #}
    <a class="sl_sidebar__ad" href="{{option.ad_url}}">
        <img src="{{ Image(option.ad_block).src}}" />
    </a>
{% endblock %}