{# Mobile Contact Duo Button #}
<div id="sl_contact-mobile" class="sl_contact-mobile hide-for-medium">
	<div class="sl_row">
	    <div class="sl_cell small-12 xsmall-12 sl_cta--phone ">
	        <span>Call us</span> {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Module"]')}}
	    </div>{# /.sl_cta--phone #}
	</div>{# /.sl_row #}
</div>