<div class="sl_footer__email">
	<div class="sl_inner">
		<div class="sl_row">
			<div class="sl_cell medium-7">
				{{function('do_shortcode','[email not_content="true"]')}}
			</div>{# /.sl_cell #}
			<div class="sl_cell medium-5">
				{# ADDRESS #}
				<div class="sl_footer__address">
					<p>Foundations Recovery Network</p>
					{% include "partials/address.twig" with {phone: 'true'} %}
				</div>
			</div>{# /.sl_cell #}
		</div>{# /.sl_row #}
	</div>{# /.sl_inner #}
</div>{# /.sl_footer__email #}