{% extends 'partials/sidebar-sticky.twig' %}

{% block content %}
	<h3 class="sl_sidebar__title">Other Helpful Links</h3>
	<ul class="sl_list--arrow">
		<li><a href="/treatment/treatment-options/">Our Treatment Options</a></li>
		<li><a href="/get-help">Get Help Now</a></li>
		<li><a href="/locations/">Our Locations</a></li>
		<li><a href="/for-professionals">For Professionals</a></li>
		<li><a href="/about-us/why-choose-foundations/">Why Choose Us?</a></li>
	</ul>
{% endblock %}