<div data-sticky-container class="sl_sidebar">
	<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">

		{% block content %}
		<ul class="sl_sidebar__menu">
			{% for item in menu %}
            	{% if item.current_item_ancestor == true %}
            		<div class="sl_sidebar__title">
				    	<h3 class="{{ item.classes | join(' ') }}">
					    	{{ item.title }}				    
				    	</h3>
			    	</div>
                	{% for child in item.get_children %}
                    	<li class="{{ child.classes | join(' ') }}">
				        	<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>				    
			        	</li>
                    	{% for grandchild in child.get_children %}
                        	<li class="{{ grandchild.classes | join(' ') }}">
				            	<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
			            	</li>
                    	{% endfor %}
                	{% endfor %}
            	{% endif %}
			{% endfor %}
		</ul>
		{% endblock %}
		
	</div><!-- end #sidebarcontent -->
</div><!-- end sticky container -->