{% if option.socials %}
    <div class="sl_footer__socials">
    	<div class="sl_row">
    		<div class="sl_cell">
    			<h3>Follow Us</h3>
    		</div>{# /.sl_cell #}
    		<div class="sl_cell">
				<div class="sl_row sl_socials">

					{% for item in option.socials %}
					<div class="sl_cell">
			            <a href="{{option[item~'_url']}}" class="sl_{{item}} sl_button sl_button--social" target="_blank">
			                <i class="fa fa-{{item}}" aria-hidden="true"></i>
			            </a>
			        </div>{# /.sl_cell #}
			        {% endfor %}

			        {# BBB Script #}
					{% if option.bbbscript.bbbscript_check %}
						<div class="sl_cell bbb">
							{{option.bbbscript.bbbscript_script}}
						</div>{# /.sl_cell#}
					{% endif %}

				</div>{# /.sl_row #}
    		</div>{# /.sl_cell #}
    	</div>{# /.sl_row #}
        
    </div>{# /.sl_footer__socials #}
{% endif %}