<a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}/" class="sl_card sl_card--webinar">
    {# CARD IMAGE #}
    <div class="sl_card__image" style={% if webinar.thumbnail %}"background-image: url({{Image(webinar.thumbnail).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/backgrounds/webinar-image-placeholder.jpg)"{% endif %}>

    </div>{# /.sl_card__image #}
    
    {# CARD CONTENT #}
    <div class="sl_card__content">

        {# WEBINAR TITLE #}
        <h3 class="sl_card__title">{{webinar.post_title|truncate(12)}}</h3>

        <div class="sl_row">
            {# WEBINAR AUTHOR #}
            <p class="sl_card__speaker large-9 medium-9 small-9">By: {{webinar.guest_speaker}}</p>
            <p class="sl_card__date large-3 medium-3 small-3">{{webinar.webinar_date|date("n.j.y")}}</p>
        </div>
    </div>{# /.sl_card__content #}
</a>{# /.sl_card #}