{# ARTICLES #}
<h3>{{module.article_header}}</h3>
<a href="/articles/" class="sl_button sl_button--hollow show-for-medium">See All</a>

<div class="sl_row sl_articles__grid">
    
    {# Featured Article #}   
    <div class="sl_cell medium-6 sl_articles__featured">
    {% for article in Post(module.article) %}
        {% if loop.first %}
        <a href="{{article.link}}" class="sl_card sl_card--article">

            {# Card Image #}
            <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
                <h2 class="sl_article__title">{{ article.title|truncate(10) }}</h2>
                <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
            </div>{# /.first_article_link #}

            {# Card Content #}
            <div class="sl_card__content">
                <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
                {% if post.author_name %}
                    <p class="sl_article__author">By: {{article.author_name}}</p>
                {% endif %}
                <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
            </div>{# /.sl_card__content #}
            
        </a>{# /.sl_card.sl_articles__card #}
        {% endif %}

    {% endfor %}
    </div>{# /.sl_cell.medium-6.sl_articles__featured #}

    {# Other Articles #}
    <div class="sl_cell medium-6 sl_articles__stacked">
    {% for article in Post(module.article) %}
        
        {% if not loop.first %}
        <a href="{{article.link}}" class="sl_card sl_card--article--sm">
            
            <div class="sl_row">
                {# Card Image#}
                <div class="sl_cell sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})"></div>

                {# Card Content #}
                <div class="sl_cell auto sl_card__content">
                    <p class="sl_article__category">Posted In: {{ article.terms('category')|first }}</p>
                    <h4 class="sl_article__title">{{ article.title|truncate(10) }}</h4>
                </div>{# /.sl_cell auto.sl_card__content #}
            </div>{# /.sl_row #}
        </a>{# /.sl_card.sl_articles__card #}
        {% endif %}

    {% endfor %}
    </div>{# /.sl_cell.medium-6.sl_articles__stacked #}
    <a href="/articles/" class="sl_button sl_button--hollow hide-for-medium">See All</a>
</div>{# /.sl_row.sl_articles__grid #}