{% if card.button_group == true %}
    <div class="sl_button-group">
{% endif %}
        {% for button in card.buttons %}
            {% if button.acf_fc_layout == 'Default Button'%}
                <a href="{{button.button.url}}" class="sl_button {{button.button_class}}">{{button.button.title}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Modal Button'%}
                <a data-open="{{button.modal_target}}" class="sl_button {{button.button_class}}">{{button.title}}</a>
            {% endif %}
            {% if button.acf_fc_layout == 'FRN Phone Button'%}
                {% if button.cta_field == true %}
                    <div class="sl_phone {{button.button_class}}">
	                    <span class="sl_phone__cta">{{button.cta_text}}</span>
	                    {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Module" class="sl_button sl_button--phone sl_phone__number"]')}}
                    </div> {# /.sl_phone #}
                {% else %}
                    {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Module" class="sl_button sl_button--phone '~ button.button_class ~'"]')}}
                {% endif %}
            {% endif %}
            {% if button.acf_fc_layout == 'Share Button' %}
                <a class="sl_button sl_button--share sl_button--secondary share-button st-custom-button" data-network="sharethis">share</a>
            {% endif %}
            {% if button.acf_fc_layout == 'Chat Button' %}
                {{function('do_shortcode', '[lhn_inpage button="chat" text="Chat with us" offline_text="remove" class="sl_button '~ button.button_class ~'"]')}}
            {% endif %}
        {% endfor %}
{% if card.button_group == true %}
    </div>
{% endif %}
