<div class="sl_duo__media sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
    <div class="sl_row medium-up-2">
        {% for podcast in podcasts %}
        <div class="sl_cell">
            <a href={{podcast.link}} class="sl_card sl_card--article--sm">
                <div class="sl_card__content">
                    {% if podcast.terms %}
                        <p class="sl_article__category">Posted In: {{ podcast.terms('podcast-category')|first }}</p>
                    {% endif %}
                    <h4>Episode #{{podcast.episode_number}}: {{podcast.podcast_title}}</h4>
                </div>{# /.sl_card__content #}
            </a>{# /.sl_card--article--sm #}
        </div>{# /.sl_cell #}
        {% endfor %}

    </div>{# /.sl_row #}
</div>{# /.sl_duo__media #}