<div class="sl_cell sl_cell--{{item.terms('location-category')|first.name}}">
    <div class="sl_card sl_card--facility">

        {# CARD IMAGE #}
        <div class="sl_card__image" style="background-image:url({{Image(item.image_field).src}})">

            {# ACCREDITATIONS #}
			{% for item in item.accreditations %}
				{% if item == "joint_commission" %}
                    <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
                {% endif %}

                {% if item == "carf" %}
                    <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="Carf" />
                {% endif %}
			{% endfor %}

            {# FACILITY TYPE #}
            {% if this.type_select != "careers" %}
            <span class="sl_facility__type">
                 {{item.terms('location-category')|first.name}}
            </span>
            {% endif %}
        </div>{# /.sl_card__image #}
        
        {# CARD CONTENT #}
        <div class="sl_card__content">

            {# LOCATION - (deck type only) #}
            {% if this.type_select == "deck" or this.type_select == "deck-phone" %}<h5>{{item.city}}, {{item.state}}</h5>{% endif %}

            {# FACILITY #}
            <h3>{{item.facility_name}}</h3>

            {# ADDRESS - (contact-deck or careers deck type only) #}
            {% if this.type_select == "contact-deck" or this.type_select == "careers" %}<p itemprop="address"><span itemprop="streetAddress">{{item.street_address}}</span> <br> <span itemprop="addressLocality">{{item.city}}</span>, <span itemprop="addressRegion">{{item.state}}</span> <span itemprop="postalCode">{{item.zipcode}}</span></p>{% endif %}

            {# CONTENT - (deck type only) #}
            {% if this.type_select == "deck" %}{{item.facility_features|wpautop}}{% endif %}

            {# PHONE - (deck-phone type only) #}
            {% if this.type_select == "deck-phone" %}<p class="sl_deck__phone">{{ function('do_shortcode', item.facility_phone)}}</p>{% endif %}
        
            {# BUTTON #}
            {% if this.type_select == "careers" %}
                <a href="{{item.job_board_url}}" class="sl_button sl_button--secondary sl_button--small">View Jobs</a>
            {% elseif item.terms('location-category')|first.name != 'Outpatient' and this.type_select == "contact-deck" %}
               <a href="{{item.website_url}}" class="sl_button sl_button--secondary sl_button--small">Visit Website</a>
            {% else %}
                <a href="{{site.url}}/locations/{{item.slug}}/" class="sl_button sl_button--secondary sl_button--small">Learn More</a>
            {% endif %}

            {# DIRECTIONS - (contact-deck type only) #}
            {% if this.type_select == "contact-deck" %}<a class="sl_button--directions"href="{{item.direction_url}}">Get Directions</a>{% endif %}
        </div>{# /.sl_card__content #}

    </div>{# /.sl_card #}
</div>{# /.sl_cell #} 