<div class="sl_card__release">
{% if item.type_select == "webinar" %}
{# WEBINAR POST TYPE #}
    <h3> Latest Webinars </h3>
    <ul class="sl_list--arrow">
    {% for webinar in latwebinars %}
    	{% if not loop.first %}
            <li><a href={{webinar.link}} class="sl_webinar_link">{{webinar.webinar_title|truncate(12)}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{# PRESS RELEASE POST TYPE #}
{% elseif item.type_select == "press_release" %}
    <h3> Latest Press Releases </h3>
    <ul class="sl_list--arrow">
    {% for release in press_release %}
        <li><a href={{release.link}} class="sl_post_link">{{release.post_title|truncate(12)}}</a></li>
    {% endfor %}
    </ul>
{% endif %}
</div>