<div class="sl_row sl_wildcard__posts medium-up-2">
	{% for article in Post(item.article) %}
		 <div class="sl_cell">
            <a href={{article.link}} class="sl_card sl_card--article--sm">
                <div class="sl_card__content">
                    {% if article.terms %}
                        <p class="sl_article__category">Posted In: {{ article.terms|first }}</p>
                    {% endif %}
                    <h4 class="sl_article__title">{{ article.title|truncate(8) }}</h4>
                </div>{# /.sl_card__content #}
            </a>{# /.sl_card--article--sm #}
        </div>{# /.sl_cell #}
	{% endfor %}
</div>