//Overlay
@mixin wave-overlay ($color: white) {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 310px;
	background-image: url(#{$path-img}overlays/wave-overlay-#{$color}.svg); 
	// If you want different colors add the images to this file path with the naming convention "wave-overlay-(your-color).svg" then specify the color when including the mixin
}