{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% if option.gtm_code %}
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{option.gtm_code}}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		{% endif %}

		<div class="sl_wrapper">
			<div class="off-canvas-wrapper">

				{# CONTACT POPUP - (Desktop) #}
					{% include 'partials/contact-popup.twig' %}
				{# END CONTACT POPUP #}

				{# CONTACT STICKY - (mobile) #}
					{% include 'partials/contact-mobile.twig' %}
				{# END CONTACT STICKY #}

				{# OFF-CANVAS MENU #}
				{% include "offcanvas-menu.twig" with {'menu': menu.get_items} %}
				{# END OFF-CANVAS MENU #}
				
				<div class="off-canvas-content" data-off-canvas-content>
					
					{# Notification Bar #}
					<div data-closable class="sl_notification-bar sl_banner_shown" id="sl_notification-bar" style="background-color:#152435;color:#ffffff; padding: 8px 24px; position: relative; z-index: 1;">
						<style type="text/css">
							.sl_notification-bar .sl_inner { width: 100%; max-width: 1080px; margin: 0 auto; font-size: 18px; text-align: center;font-weight:400;}
							.sl_notification-bar .sl_button { display: inline-block; padding: 6px 10px; font-size: 15px; border-radius: 3px; color: #fff!important; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background-color: #0996f7; letter-spacing: 0; font-weight: 400; margin-left: 8px; margin-bottom: 0;}
						</style>
						<div class="sl_inner">
							<span>Committed to Safety: Latest information on COVID-19 Precautions </span><a href="https://www.foundationsrecoverynetwork.com/important-covid-19-update-from-foundations-recovery-network/" class="sl_button">Learn More</a>
						</div>
							<button class="close-button" aria-label="Close alert" style="color: #fff;" type="button" data-close>
							    <span aria-hidden="true">&times;</span>
					</div>
					{# HEADER #}
					<header id="sl_globalheader" class="sl_header" >
						{% block header %}
							{% include 'partials/header.twig' %}
						{% endblock %}
					</header>
					{# END HEADER #}

					{# BREADCRUMBS #}
					{% if post.post_type != 'post' and post.post_type != 'sl_podcasts_cpts' %}	
					<div class="sl_inner">
						{{ function('get_breadcrumb') }}
					</div>
					{% endif %}
					{# END BREADCRUMBS #}


					{# PAGE CONTENT #}
					<section id="content" role="main" class="sl_content">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</section>
					{# END PAGE CONTENT #}

					{# BACK TO TOP BUTTON #}
					<a id="sl_backtop" class="sl_button sl_button--backtop hide-for-medium" href="#sl_globalheader" data-smooth-scroll>
						<i class="fa fa-angle-up" aria-hidden="true"></i>
					</a>
					{# END BACK TO TOP BUTTON #}
					
					{# FOOTER  #}
					{% block footer %}
						<footer id="footer">
							{% include 'footer.twig' %}
						</footer>
						{{ function('wp_footer') }}
					{% endblock %}
					{# END FOOTER#}

				</div>{# /.off-canvas-content #}
			</div>{# /.off-canvas-wrapper #}
		</div>{# /.sl_container #}
	</body>
	
</html>
