<div id="sl_footer" class="sl_footer">

	{# ACCREDITATIONS #}
    {% include "partials/footer-accreditations.twig"  %}

	<div class="sl_footer__menu">
		<div class="sl_inner">


		<div class="sl_row">

			<div class="sl_cell medium-8">
				{# SOCIAL ICONS#}
				{% include "partials/social-media.twig"  %}
			</div>

			<div class="sl_cell medium-4">
				{# ONLINE BILL PAY #}
				{% if option.billpay %}
				<a class="sl_button sl_button--secondary sl_button--icon sl_button--medium" href="{{option.billpay.url}}">{{option.billpay.title}}</a>
				{% endif %}
			</div>
		</div>

		{# FOOTER MAIN MENU #}
    	{% include "partials/footer-menu.twig" %}

  		{# COPYRIGHT #}
  		{{ function('do_shortcode', '[frn_footer]')}}
		
		{# Joint Commission Required Wording #}
		<p>If you have comments or concerns and want to speak with the Joint Commission, you can contact their Customer Service line at {{ function('do_shortcode', '[frn_phone number="630-792-5800"]')}}.</p>

		{# FOOTER WYSIWYG #}
		{% if option.footer_wysiwyg %}
			{{option.footer_wysiwyg}}
		{% endif %}

		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}
</div>{# /.sl_footer #}

{# LINKEDIN JAVSCRIPT TRACKING #}
<script type="text/javascript"> _linkedin_partner_id = "1744546"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1744546&fmt=gif" /> </noscript>