{% extends "base.twig" %}


{% block content %}
	
	{# Page Intro Module #}
	<div class="sl_module sl_articles__intro">
		<div class="sl_inner">
			<div class="sl_card">
				<h2>Accredited Addiction &amp; Mental Health Treatment for Adults</h2>
				<p>At Foundations Recovery Network, our goal is to be the leader in evidence-based, integrated treatment for co-occurring mental health and substance use disorders through clinical services, education and research. As part of this mission, we want to do everything we can to provide accurate, straightforward resources that shed light on the topics and questions you might have about mental health and addiction.</p>
				<div class="sl_phone">
					{{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in the Header" class="sl_button sl_button--phone sl_phone__number"]')}}
                    <span class="sl_phone__cta">If you or a loved one needs help, please give us a call.</span>    
                </div> {# /.sl_phone #}
			</div>
		</div>
	</div>
	
	{# This section grabs from the article picker in the global theme options #}
	<div class="sl_module sl_articles__options">
		<div class="sl_inner">
			{% include 'partials/archive-featured.twig' %}
		</div>
	</div>

	{# Grid of Categories #}
	<div class="sl_module sl_categories-grid">
		<div class="sl_inner">
			<h2>What are you looking to learn about?</h2>
			
			{# For Desktop #}
			<div class="sl_row medium-up-4 show-for-medium">
			{# Loop through the categories for posts #}
			{% for category in categories %}
				{# Exclude these categories from the loop #}
				{% if category.name != "Uncategorized" and category.name != "Press Release" %}
					<a class="sl_cell sl_categories-grid__item" href="{{site.link}}/category/{{category.slug}}/">
						<h3>{{category.name}}</h3>
					</a>
				{% endif %}
			{% endfor %}
			</div>{# /.sl_row #}

			{# For Mobile #}
			<ul class="accordion sl_accordion sl_accordion--categories hide-for-medium" data-accordion data-multi-expand="true" data-allow-all-closed="true">
				<li class="accordion-item sl_accordion__item" data-accordion-item>
					<a href="#" class="accordion-title sl_accordion__title">Categories</a>
					<div class="accordion-content sl_accordion__content" data-tab-content>
						<ul>
						{% for category in categories %}
						{# Exclude these categories from the loop #}
						{% if category.name != "Uncategorized" and category.name != "Press Release" %}
							<li>
								<a href="{{site.link}}/category/{{category.slug}}/">
									<h3>{{category.name}}</h3>
								</a>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>{# /.sl_accordion__content #}
				</li>{# /.sl_accordion__item #}
			</ul>{# /.sl_accordion #}

		</div>{# /.sl_inner #}
	</div>{# /.sl_module.sl_categories-grid #}

	{# Loop through the categories for posts #}
	{% for category in categories %}
		{# Exclude these categories from the loop #}
		{% if category.name != "Uncategorized" and category.name != "Press Release" %}

			<div class="sl_articles__category">
				<div class="sl_inner">
					<div class="sl_category__heading">
						<h2>Latest from: <strong>{{ category.name }}</strong></h2>
						<a class="sl_button sl_button--hollow" href="{{site.link}}/category/{{category.slug}}/">See All</a>
					</div>{# /.sl_category__heading #}
					<div class="sl_row large-up-3 medium-up-2" data-equalizer data-equalize-on="medium">

						{# For each category, list the most recent 3 posts #}
						{% for article in category.posts(3) %}
							<div class="sl_cell data-equalizer-watch show-for-large">
								{% include 'partials/archive-article.twig' %}
	            			</div>{# /.sl_cell #}
						{% endfor %}

						{% for article in category.posts(4) %}
							<div class="sl_cell data-equalizer-watch hide-for-large">
								{% include 'partials/archive-article.twig' %}
	            			</div>{# /.sl_cell #}
						{% endfor %}

					</div>{#/.sl_row #}
				</div>{# /.sl_inner #}
			</div>{# /.sl_articles__categories #}
		{% endif %}
		
		{# ADD BRAND BLOCKS AT CERTAIN KEY VALUES #}
		{# PODCAST BRAND BLOCK #}
		{% if loop.index == 1 %}
			{% include "partials/archive-brandblock.twig" with { "brand" : "podcasts" } %}
		{% endif %}
		{# WEBINARS BRAND BLOCK #}
		{% if loop.index == 5 %}
			{% include "partials/archive-brandblock.twig" with { "brand" : "webinars" } %}
		{% endif %}
    {% endfor %}

{% endblock %}