{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">
			<div class="sl_row">
				<div class="sl_cell large-8 xlarge-9 sl_content__main">
					<main id="main" class="sl_main">
						{{post.content}}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}
				<div class="sl_cell large-4 xlarge-3 show-for-large sl_content__sidebar">
					{% if post.parent != false %}
					{% include "sidebar.twig" with {'menu': menu.get_items} %}
					{% endif %}
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}