{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

	{# ARTICLE HEADER #}
	<div class="sl_post__header">
		<div class="sl_row">

			{# ARTICLE HEADER CONTENT #}
			<div class="sl_cell {% if post.thumbnail %}large-6{% else %}large-8{% endif %} sl_duo__content">
				<div class="sl_card">

					{# Share Button For Medium Only #}
					<a class="sl_button sl_button--share st-custom-button show-for-medium-only" data-network="sharethis">Share</a>

					<h3 class="sl_post__category">Posted in: <span>{{ post.terms('category')|join(', ') }}</span></h3>
					<h1 class="sl_post__title">{{ post.title }}</h1>
					{% if post.author_name %}
						<p class="sl_post__author">Written By: {{ post.author_name }}</p>
					{% endif %}
					<div class="sl_divider"></div>
					<p class="sl_post__date">{{ post.date }}</p>
				</div>{# /.sl_card #}
			</div>{# /.sl_duo__content #}

			{# ARTICLE HEADER IMAGE #}
			{% if post.thumbnail %}
			<div class="sl_cell large-6 sl_duo__media">
				<div class="sl_duo__media__container">
						<div class="sl_duo__image" style="background-image: url({{ post.thumbnail.src() }}"></div>{# /.sl_duo__image #}
					</div>{# /.sl_duo__media__container #}
			</div>{# /.sl_duo__media #}
			{% endif %}
		</div>{# /.sl_row #}
	</div>{# /.sl_post__header #}
	

	<section class="sl_content__body">
		<div class="sl_inner">
			<div class="sl_row">
				<div data-sticky-container class="sl_cell large-1">
					{% include 'sharethis.twig' %}
				</div>{# /.sl_cell #}
				<div class="sl_cell large-9">	
					<div id="main" class="sl_content__post">
						{{post.content}}
					</div>{# /.sl_post__content #}
				</div>{# /.sl_cell #}

				<div class="sl_cell large-2 show-for-large">
					<div data-sticky-container class="sl_content__categories">
						<div data-sticky class="sl_content__categories__container sl_sticky" data-anchor="main">
							<h4>Categories</h4>
							<ul>
								{% set categories = function('get_categories') %}
								{% for item in categories %}
									{% if item.name != "Uncategorized" and item.name != "Press Release" %}
									<li><a href="{{ site.url }}/category/{{ item.slug }}/">{{ item.cat_name }}</a></li>
									{% endif %}
							    {% endfor %}
							</ul>
						</div>{# end #sidebarcontent #}
					</div>{# end sticky container #}
				</div>{# /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}
