{% extends "tease.twig" %}

{% block content %}
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<h2 class="staff__title">
			{% if post.first_name %}
				{{post.first_name}}
			{% endif %}
			{% if post.last_name %}
				&nbsp;{{post.last_name}}
			{% endif %}
			{% if post.certifications %}
				<span>,&nbsp;{{post.certifications}}</span>
			{% endif %}
		</h2>
		{% if post.staff_title %}
			<h3>{{post.staff_title}}</h3>
		{% endif %}

		<p>{{post.preview}}</p>
{% endblock %}