{% extends "module.twig" %}

{% block card %}
	<div class="sl_card sl_card--conference">
		<h2>{{ module.head_text }}</h2>
		<p>{{ module.paragraph }}</p>

        <div class="sl_row">
        	{# CONFERENCE MEDIA #}
 		    <div class="sl_duo__media sl_duo__media--video sl_cell large-6">
 			    <div class="sl_duo__media__container">
 				    <div class="sl_duo__image" style="background-image: url({{Image(module.event_image).src}})">

	 				<a class="sl_button sl_button--video" data-open="sl_conferencevideo--{{loop.index}}">
	 					<div class="sl_button__play"></div>{# Video Button Icon #}
	 					{{module.video_text}}
	 				</a>
                    </div>
				</div>
 			</div>
           
        {% for conference in conferences %}
            <div class="sl_duo__content sl_cell large-6">
                <a href="{{site.url}}/conferences/{{conference.slug}}/" class="sl_card">
                    <h3>Upcoming Conference:</h3>
                    <img src="{{ Image(conference.logo_field).src }}" class="sl_conference__logo" alt="Logo for {{ conference.title }}" />
                </a>
            </div>{# /.sl_duo__content #}
        </div>{# /.sl_row#}

        <div class="sl_conference__cta sl_row">
            <div class="sl_cell xlarge-4 large-5">
                <h3>Get involved in our next conference!</h3>
            </div>
            <div class="sl_cell xlarge-8 large-7">
                <div class="sl_button-group">
                    <a target="_blank" href="{{conference.register_url}}" class="sl_button">Register</a>
                    <a target="_blank" href="{{conference.sponsor_url}}" class="sl_button sl_button--secondary">Sponsor</a>
                </div>{# /.sl_button-group #}
            </div>
        </div>{# /.sl_conf_register #}
        {% endfor %}
	</div>{# /.card--webinar #}

    {# VIDEO MODAL #}
    <div class="reveal sl_reveal sl_reveal--video" id="sl_conferencevideo--{{loop.index}}" data-reveal data-reset-on-close="true">
        <div class="responsive-embed widescreen">
            {{ function('do_shortcode', module.video)}}
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span class="fa fa-times"></span>
        </button>
    </div>{# reveal.video #}

{% endblock %}