{% extends "module.twig" %}

{% block card %}
	
	{# Includes card components #}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		{# DUO MEDIA #}
 		<div class="sl_duo__media sl_cell {% if module.media == "video" %}sl_duo__media--video{% endif %} {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
 			<div class="sl_duo__media__container">
 				<div class="sl_duo__image" style="background-image: url({{Image(module.duo_image).src}})">

	 			{# Check for Video Button #}
	 			{% if module.media == "video" %}
	 				<a class="sl_button sl_button--video" data-open="sl_duovideo--{{loop.index}}">
	 					<div class="sl_button__play"></div>{# Video Button Icon #}
	 					{{module.video_text}}
	 				</a>
	 			{% endif %}

				</div>{# /.sl_duo__image #}
 			</div>{# /.sl_duo__media__container #}
 		</div>{# /.sl_duo__media #}
		
		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
			<div class="sl_duo__card sl_card sl_card--duo">

				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					<h2>{{ module.card.header }}</h2>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}
				
				{# ACCREDITIONS #}
				{% if module.accreditation_schema.accreditations %}
				<div class="sl_duo__accreditations sl_row">	
					{% for item in module.accreditation_schema.accreditations %}
						{% include "card-creds.twig" %}
					{% endfor %}
				</div>
				{% endif %}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}
 	</div>{# /.sl_row #}
	
	{# VIDEO MODAL #}
	{% if module.media == "video" %}
	 	<div class="reveal sl_reveal sl_reveal--video" id="sl_duovideo--{{loop.index}}" data-reveal data-reset-on-close="true">
			<div class="responsive-embed widescreen">
				{{ function('do_shortcode', module.video_embed)}}
	    	</div>
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	            <span class="fa fa-times"></span>
	        </button>
		</div>{# reveal.video #}
	{% endif %}

{% endblock %}