{% extends "module.twig" %}

{% block card %}
<div class="sl_card sl_card--tabs">
    <div class="sl_tabs__container">
        <ul class="tabs sl_tabs" data-tabs="5yiap6-tabs" id="example-tabs{{loop.index}}">
            {% for tab in module.tabs %}
            <li class="tabs-title sl_tabs__title {% if loop.index == '1' %}is-active{% endif %}" role="presentation"><a href="#tabpanel{{loop.parent.loop.index}}{{loop.index}}" role="tab" aria-controls="tabpanel{{loop.parent.loop.index}}{{loop.index}}" {% if loop.index == '1' %}aria-selected="true"{% else %}aria-selected="false"{% endif %} id="tabpanel{{loop.parent.loop.index}}{{loop.index}}-label">{{tab.tab_title}}</a></li>
            {% endfor %} 
        </ul>
    </div>{# /.sl_tabs__container #}
    <div class="tabs-content sl_tabs__content" data-tabs-content="example-tabs{{loop.index}}">

        {% for tab in module.tabs %}
        <div class="tabs-panel sl_tabs__panel {% if loop.index == '1' %}is-active{% endif %}" id="tabpanel{{loop.parent.loop.index}}{{loop.index}}" role="tabpanel" {% if loop.index == '1' %}aria-hidden="false"{% else %}aria-hidden="true"{% endif %} aria-labelledby="tabpanel{{loop.parent.loop.index}}{{loop.index}}-label">
            {% for item in tab.tab_content %}
                
                {# STAFF SPOTLIGHT#}
                {% if item.acf_fc_layout == "staff_spotlight" %}
                    <div class="sl_staff sl_staff--spotlight">
                        <div class="sl_row sl_staff__spotlight">
                            {% for staff in Post(item.staff_spotlight) %}
                            <div class="sl_cell large-4 medium-5">
                                <div class="sl_staff__image" style="background-image:url({{ staff.thumbnail.src() }})"></div>{# /.sl_staff__image #}
                            </div>
                            <div class="sl_cell large-8 medium-7">
                                <h5>{{staff.facility}}</h5>
                                <h2>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h2>
                                <h4>{{staff.staff_title}}</h4>
                                {# <pre>{{ dump(staff.content) }}</pre> #}
                                {{staff.content|truncate(150)}}
                                {% if staff.content|split('')|length > 150 %}
                                    <a class="sl_button sl_button--hollow" href="/about-us/staff/{{staff.slug}}/">Read More</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {# STAFF DECK#}
                {% if item.acf_fc_layout == "staff_deck" %}
                    <div class="sl_staff sl_staff--deck">
                        <div class="sl_row sl_staff__deck large-up-4 medium-up-3">
                            {% for staff in Post(item.staff_deck) %}
                            <div class="sl_cell">
                            {% if staff.content %}
                                <a href="/about-us/staff/{{staff.slug}}">
                            {% endif %}
                                <div class="sl_card sl_card--staff">
                                    {% if staff.thumbnail %}
                                        <div class="sl_staff__image" style="background-image:url({{ staff.thumbnail.src() }})"></div>{# /.sl_staff__image #}
                                    {% else %}
                                        <div class="sl_staff__image" style="background-image:url(/wp-content/themes/slate/dist/img/staff/staff_silhouette.jpg)"></div>{# /.sl_staff__image #}
                                    {% endif %}
                                    <div class="sl_card__content">
                                        <p>{{staff.staff_title}}</p>
                                        <h3>{{staff.first_name}} {{staff.last_name}}</h3>
                                        <h5>{{staff.certifications}}</h5>
                                    </div>
                                </div>
                            {% if staff.content %}
                                </a>
                            {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                {# WYSIWYG #}
                {% if item.acf_fc_layout == "wysiwyg" %}
                    {{item.wysiwyg|wpautop}}
                {% endif %}

                {# BUTTONS #}
                {% if item.acf_fc_layout == "button" %}
                    {% include "card-button.twig" with { card : item } %}
                {% endif %}

            {% endfor %}
        </div>{# /.tabs-panel  #}
        {% endfor %}

    </div>{# /.tabs-content  #}
</div>
{% endblock %}