{% extends "module.twig" %}

{% block card %}
	<div class="sl_row">

		{# Sticky Menu #}
		<div class="sl_cell large-3 medium-4 show-for-medium">
			<div data-sticky-container class="sl_wild_nav__sidebar">
				<div data-sticky class="sl_wild_nav__sidebar__container sl_sticky" data-anchor="sl_wild_nav__content">
					<div data-smooth-scroll>
						{% for item in module.items %}
							<a href="#nav-item{{loop.index}}"><h3>{{item.menu_title}}</h3></a>
						{% endfor %}
					</div>
				</div> {# /.sl_wild_nav__sidebar  #}
			</div> {# /.sl_wild_nav__container #}
		</div>{#  /.sl_cell #}
		
		{# Module Content #}
		<div class="sl_cell large-9 medium-8">
			<div id="sl_wild_nav__content" class="sl_wild_nav__content">
				{% if module.module_intro %}
					{{ module.module_intro|wpautop }}
				{% endif %}

				{% for item in module.items %}
					<div id="nav-item{{loop.index}}" class="sl_wild_nav__item">
						<div class="sl_wild_nav__heading">
							<div class="sl_wild_nav__number"><h4>{{loop.index}}</h4></div>
							<h2>{{item.header}}</h2>
						</div>

						{% for piece in item.pieces %}

							{# CALLOUT #}
							{% if piece.acf_fc_layout == "callout" %} 
								<div class="sl_callout {% if piece.callout_class %}sl_callout--{{piece.callout_class}}{% endif %}">
									{{ piece.callout_wysiwyg|wpautop }}
								</div>
							{% endif %}

							{# DECK #}
							{% if piece.acf_fc_layout == "deck" %} 
								<div class="sl_deck--wildnav sl_deck {% if piece.deck_class %}sl_deck--{{piece.deck_class}}{% endif %}">
									<div class="sl_row large-up-2 medium-up-1">
										{% for card in piece.deck %}
											<div class="sl_cell">
												<div class="sl_card sl_card--wildnav-deck">
														{# HEADER  #}
														{% if card.deck_header %} 
														<h3>{{ card.deck_header }}</h3>
														{% endif %}

														{# PARAGRAPH #}
														{% if card.deck_text %}
														<p>{{ card.deck_text }}</p>
														{% endif %}

														{# IMAGE #}
														{% if card.deck_image %}
														{% include "card-image.twig" with { image : card.deck_image } %}
														{% endif %}
												</div>
											</div>
										{%  endfor %}
									</div>
								</div>
							{% endif %}

							{# VIDEO #}
							{% if piece.acf_fc_layout == "video" %}
						 		<div class="sl_video">

						 				<div class="sl_video__image" style="background-image: url({{Image(piece.video_image).src}})">

							 				<a class="sl_button sl_button--video" data-open="sl_video--{{loop.index}}">
							 					<div class="sl_button__play"></div>{# Video Button Icon #}
												 {{ piece.video_cta}}
							 				</a>

										</div>{# /.sl_video__image #}
						 		</div>{# /.sl_video #}

						 		<div class="reveal sl_reveal sl_reveal--video" id="sl_video--{{loop.index}}" data-reveal data-reset-on-close="true">
									<div class="responsive-embed widescreen">
						        		{{piece.video}}
						        	</div>
						            <button class="close-button" data-close aria-label="Close modal" type="button">
						                <span class="fa fa-times"></span>
						            </button>
						    	</div>{# reveal.video #}
						 	{% endif %}

							{# WYSIWYG #}
							{% if piece.acf_fc_layout == "wysiwyg" %} 
								{{ piece.wysiwyg|wpautop }}
							{% endif %}

							{# WRAPPER #}
							{% if piece.acf_fc_layout == "wrapper_open" %} 
								<div class="sl_module--wrapper {{piece.wrapper_class}}">
							{% endif %}
							{% if piece.acf_fc_layout == "wrapper_close" %} 
								</div>
							{% endif %}


						{% endfor %}
					</div>
				{% endfor %}
			</div> {# /.sl_wild_nav__content #}
		</div>{# /.sl_cell #}
	</div>
{% endblock %}