{% extends "module.twig" %}

{% block card %}
{% if module.header %}
    <h2>{{ module.header }}</h2>
{% endif %}

{% for webinar in module.webinars %}  
            <div class="sl_row">
                
                <div class="sl_webinar__media sl_cell large-6 medium-5 small-12">
                    {# WEBINAR GUEST IMAGE #}
                    <div class="sl_webinar__image" style={% if webinar.thumbnail %}"background-image: url({{Image(webinar.thumbnail).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/backgrounds/webinar-background.jpg)"{% endif %}></div>
                </div>{# /.sl_cell #}

                <div class="sl_webinar__content sl_cell large-6 medium-7 small-12">
                    {# WEBINAR CONTENT #}
                    <div class="sl_webinar__card sl_card">
                        <h5>{% if webinar.webinar_date %}{{webinar.webinar_date|date("F j, Y")}}{% endif %}</h5>
                        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}/"><h3>{{webinar.webinar_title|truncate(12)}}</h3></a>
                        <h4>{{webinar.guest_speaker}}</h4>
                        <div class="sl_button-group">
                            <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.post_name}}/" class="sl_button sl_button--secondary">Learn More</a>
                            <a class="sl_button sl_button--share st-custom-button" data-title="{{webinar.webinar_title}}" data-url="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.post_name}}/" data-network="sharethis">Share</a>
                        </div>{# /.sl_button-group #}
                    </div>{# /.sl_card #}
                </div>{# /.webinar__content #}

            </div>{# /.sl_row #}
{% endfor %}
{% endblock %}