{% extends "module.twig" %}

{% block card %}
	
	{% if module.type_select == "press_release" %}
	<div class="sl_module__header">
		<h3>Press Releases</h3>
		<a href="/category/press-release/" class="sl_button sl_button--hollow show-for-medium">See All</a>
	</div>

	<div class="sl_row sl_articles__grid sl_articles__grid--release">
	    
	    {# Featured Article #}   
	    <div class="sl_cell large-6 medium-5 sl_articles__featured">
	    {% for release in press_release %}
	        {% if loop.first %}
	        <div  class="sl_card sl_card--release sl_card--release--lg">
                <a class="sl_release__link" href="{{release.link}}">
	                <h2 class="sl_release__title">{{ release.title|truncate(10) }}</h2>
	                <p class="sl_release__preview">{{ release.preview.length(50).end(' ...').read_more(false).force }}</p>
            	</a>
                <a class="sl_button sl_button--share st-custom-button" data-url="{{release.link}}" data-network="sharethis">Share</a>
                <p class="sl_release__date">{{release.date|date("n.j.y")}}</p>    
	        </div>{# /.sl_card.sl_articles__card #}
	        {% endif %}

	    {% endfor %}
	    </div>{# /.sl_cell.medium-6.sl_articles__featured #}

	    {# Other Articles #}
	    <div class="sl_cell large-6 medium-7 sl_articles__stacked sl_row medium-up-2">
	    {% for release in press_release %}
	        
	        {% if not loop.first %}
	        <div class="sl_cell">
		        <div class="sl_card sl_card--release">
	                <a class="sl_release__link" href="{{release.link}}">
		                <h4 class="sl_release__title">{{ release.title|truncate(10) }}</h4>
	            	</a>
	            	 <a class="sl_button sl_button--share st-custom-button" data-url="{{release.link}}" data-network="sharethis">Share</a>
	                <p class="sl_release__date">{{release.date|date("n.j.y")}}</p>    
		        </div>{# /.sl_card.sl_articles__card #}
	    	</div>
	        {% endif %}

	    {% endfor %}
	    </div>{# /.sl_cell.medium-6.sl_articles__stacked #}
	</div>{# /.sl_row.sl_articles__grid #}
	{% endif %}
{% endblock %}