{% extends "module.twig" %}

{% block card %}

    <div class="sl_row">
    	<div class="sl_cell">
    		<h3>Similar Treatment Options</h3>
    	</div>
    	<div class="sl_cell">
    		<div class="sl_row sl_locations__deck">
    			{% for location in Post(module.locations) %}
    				<div class="sl_cell medium-{{12/loop.length}}">
			            <div class="sl_card--facility">

			                {# CARD IMAGE #}
			                <div class="sl_card__image" style="background-image:url({{Image(location.image_field).src}})">

			                    {# ACCREDITATIONS #}
			                    {% for location in location.accreditations %}
			                        {% if location == "joint_commission" %}
			                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
			                        {% endif %}

			                        {% if location == "carf" %}
			                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="Carf" />
			                        {% endif %}
			                    {% endfor %}

			                    {# FACILITY TYPE #}
			                    <span class="sl_facility__type">
			                         {{location.terms('location-category')|first.name}}
			                    </span>
			                </div>{# /.sl_card__image #}
			                
			                {# CARD CONTENT #}
			                <div class="sl_card__content">
			                    
			                    {# LOCATION #}
			                    <h5>{{location.city}}, {{location.state}}</h5>

			                    {# FACILITY #}
			                    <h3>{{location.facility_name}}</h3>

			                    {# CONTENT #}
			                    {{location.facility_features|wpautop}}
			                    
			                    {# BUTTON #}
			                    <a href="{{site.url}}/locations/{{location.slug}}/" class="sl_button sl_button--secondary">Learn More</a>
			                </div>{# /.sl_card__content #}

			            </div>{# /.sl_card #}
			        </div>{# /.sl_cell #}
    			{% endfor %}
    		</div>
    	</div>
    </div>

{% endblock %}