.sl_billboard {
	background-image: $gradient--primary;
	margin-top: -140px;
	padding-top: rem-calc(140px) + $spacing--xxl !important;
	min-height: 550px;
	position: relative;

	@include breakpoint (xxxlarge only) {
		min-height: 500px;
		margin-bottom: $spacing--xxl;
	}//end xxxlarge only breakpoint

	@include breakpoint (medium only) {
		min-height: 0;
		padding-top: rem-calc(83px) + $spacing--xxl*2 !important;
		padding-bottom: $spacing--xxxl;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		min-height: 0;
		padding-top: $spacing--xxl*2;
		padding-bottom: $spacing--xl;
	}//end small down breakpoint

	h1 {
		color: get-color(inverse);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $spacing--lg;

		@include breakpoint (large down) {
			max-width: 600px;
			margin-bottom: $spacing--md;
		}//end large down breakpoint

		@include breakpoint (medium only) {
			font-size: 2.5rem;
			max-width: 600px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			max-width: 300px;
			text-align: left;
			margin-left: 0;
			line-height: 1.25;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end h1

	&:before {
		@include pseudo;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-image: url(#{$path-img}backgrounds/backgdrop.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		opacity: .25;

		@supports (mix-blend-mode: soft-light) {
	  		mix-blend-mode: soft-light;
			opacity: .65;
		}//end @supports fix for IE 
	}//end &:before
	
	&:after {
		@include wave-overlay;
		height: 600px;
		background-position-y: 320px;

		@include breakpoint (xxxlarge only) {
			display: none;
		}//end xxxlarge only breakpoint

		@include breakpoint (medium only) {
			background-position-y: 375px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			height: 500px;
			background-position-y: 300px;
		}//end small down breakpoint
	}//end &:after

	.sl_card {
		padding: 0;
	}//end .sl_card
	
	@include breakpoint (small down) {
		.sl_button-group {
			align-items: baseline;
		}//end .sl_button-group
	}//end small down breakpoint
	
}//end .sl_module--billboard