.sl_brandblock {
	padding: $spacing--xxl/2 0;

	@include breakpoint (large only) {
		padding: $spacing--xl/2 0;
	}//end large only breakpoint
	
	@include breakpoint (medium only) {
		padding: $spacing--lg/2 0;
	}//end medium only breakpoint
	@include breakpoint (small down) {
		padding: 0;
	}//end small down breakpoint
	.sl_inner {
		max-width: none;

		& > .sl_row {
			@include inner;
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			& > .sl_cell {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: center;

				& > :last-child {
					margin-bottom: 0;
				}//end & >:last-child;
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__logo {
		width: 100%;
		height: 100%;

		@include breakpoint (medium down) {
			margin-bottom: $spacing--md;

			img {
				margin: 0 auto;
			}//end img
		}//end medium down breakpoint
	}//end &__logo

	&__content {
		padding-left: $spacing--xxxl;
		align-items: flex-start;

		@include breakpoint (large only) {
			padding-left: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: 0;
			align-items: center;
			text-align: center;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;

			.sl_button {
				display: block;
				width: 100%;
			}//end .sl_button
		}//end small down breakpoint

		& > :last-child {
			margin-bottom: 0;
		}//end & >:last-child;
	}//end &__content

	h2, h3 {
		color: get-color(inverse);
		margin-bottom: $spacing--md;
		width: 100%;

		@include breakpoint (medium down) {
			text-align: center;
		}//end medium down breakpoint
	}//end h2, h3

	h2 {
		@include breakpoint (medium only) {
			margin-bottom: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end h2

	&--podcasts {
		.sl_inner {
			background-color: get-color(default);

			.sl_brandblock__logo {
				img {
					max-width: 370px;

					@include breakpoint (small down) {
						max-width: 260px;
					}//end small down breakpoint
				}//end img
			}//end .sl_brandblock__logo
		}//end .sl_inner
	}//end &--podcasts

	&--events {
		.sl_inner {
			background: $gradient--primary;

			.sl_brandblock__logo {
				img {
					max-width: 200px;

					@include breakpoint (small down) {
						max-width: 150px;
					}//end small down breakpoint
				}//end img
			}//end .sl_brandblock__logo
		}//end .sl_inner
	}//end &--events

	&--webinars {
		.sl_inner {
			background: get-color(secondary);
			padding-top: $spacing--xxl;
			padding-bottom: $spacing--xxl;

			@include breakpoint (large only) {
				padding-top: $spacing--xl;
				padding-bottom: $spacing--xl;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding-top: $spacing--lg;
				padding-bottom: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-top: $spacing--md;
				padding-bottom: $spacing--md;
			}//end small down breakpoint

			.sl_brandblock__content {
				@include inner;
			}//end .sl_brandblock__content
		}//end .sl_inner
	}//end &--webinars
}//end .sl_brandblock