.sl_conference {
	.sl_inner {
		.sl_card--conference {
			@include container;
			padding: $spacing--lg $spacing--xl;

			@include breakpoint (large only) {
				padding: $spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm $spacing--xs;
			}//end small down breakpoint

			h2, p {
				text-align: center;
				max-width: 800px;
				margin-left: auto;
				margin-right: auto;

				@include breakpoint (small down) {
					text-align: left;
				}//end small down breakpoint
			}//end h2, p

			p {
				margin-bottom: $spacing--lg;

				@include breakpoint (large own) {
					margin-bottom: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					margin-bottom: $spacing--sm;
				}//end medium down breakpoint
			}//end p
		}//end .sl_card--conference

		.sl_duo {
			&__media {
				min-height: 275px;
				padding-right: $spacing--xl;
				border-right: 1px solid get-color(default-tint3);

				@include breakpoint (large only) {
					padding-right: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding: 0;
					border-right: none;
					margin-bottom: $spacing--sm;
				}//end medium down breakpoint

				&__container {
					min-height: 275px;

					@include breakpoint (medium only) {
						max-width: 600px;
						margin: 0 auto;
					}//end medium only breakpoint
				}//end &__container
			}//end &__media

			&__image {
				border-radius: $border-radius;
				box-shadow: $shadow;
			}//end &__image

			&__content {
				padding-left: $spacing--xl;

				@include breakpoint (large only) {
					padding-left: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding: 0;
				}//end medium down breakpoint

				.sl_card {
					width: 100%;
					padding: 0;
					text-align: center;

					& > * {
						color: get-color(default);
					}//end & > *

					img {
						width: 100%;
						@include breakpoint (medium down) {
							max-width: 600px;
							margin: 0 auto;
						}//end medium down breakpoint
					}//end img
				}//end .sl_card
			}//end &__content
		}//end .sl_duo
	}//end .sl_inner

	&__cta {
		padding-top: $spacing--lg;

		@include breakpoint (large only) {
			padding-top: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding-top: $spacing--sm;
		}//end medium down breakpoint

		h3 {
			margin-bottom: 0;

			@include breakpoint (large only) {
				font-size: 1.5rem;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				margin-bottom: $spacing--sm;
				text-align: center;
			}//end medium down breakpoint
		}//end h3

		& > .sl_cell {
			&:last-of-type {
				padding-left: $spacing--xxl;

				@include breakpoint (large only) {
					padding-left: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding: 0;
				}//end medium down breakpoint
			}//end &:last-of-type
		}//end & > .sl_cell

		.sl_button-group {
			justify-content: stretch;

			.sl_button {
				margin: 0;
				margin-right: $spacing--xs;
				display: block;
				flex: 1 1 auto;

				&:last-of-type {
					margin-right: 0;
				}//end &:last-of-type;

				@include breakpoint (small down) {
					&:first-of-type {
						margin-bottom: $spacing--xs;
					}//end &:first-of-type

					margin-right: 0;
				}//end small down breakpoint
			}//end .sl_button
		}//end .sl_button-group
	}//end &__cta
}//end .sl_conference