.sl_cpt_duo {
	.sl_inner {
		@include innerpadding ($p-large: $spacing--lg - $spacing--lg/2, $p-xlarge: $spacing--xl - $spacing--lg,$p-xxlarge: $spacing--xxl - $spacing--lg);

		& > h2 {
			text-align: center;
			margin-bottom: $spacing--xxl;

			@include breakpoint (large only) {
				margin-bottom: $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				margin-bottom: $spacing--md;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				text-align: left;
				font-size: 2rem;
			}//end small down breakpoint
		}//end & > h2

		& > .sl_row {
			& > .sl_cell {
				padding: 0 $spacing--lg;

				@include breakpoint (large only) {
					padding: 0 $spacing--lg/2;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					padding: 0;

					&:first-of-type {
						margin-bottom: $spacing--sm;
					}//end &:first-of-type
				}//end medium down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	//WEBINAR DUO TYPE
	&--webinar {
		.sl_duo {
			&__image {
				background-image: url(#{$path-img}backgrounds/webinar-background.jpg);
				border-radius: $border-radius;
				overflow: hidden;
				box-shadow: none;

				&:after {
					opacity: .7;
				}//end &:after
			}//end &__image

			&__media__container {
				display: flex;
				align-items: center;
				padding: $spacing--sm;
			}//end __media__container

			&__media__content {
				position: relative;
				text-align: center;
				margin: 0 auto;
				max-width: 345px;

				& > *:not(.sl_button) {
					color: get-color(inverse);
				}//end & > *

				& > :last-child {
					margin-bottom: 0;
				}//end &:last-child
			}//end &__media__content
		}//end .sl_duo
	}//end &--webinar

	//PODCAST DUO TYPE 
	&--podcast {
		.sl_duo__media {
			@include breakpoint (medium only) {
				min-height: 0;
			}//end medium only breakpoint
			& > .sl_row {
				& > .sl_cell {
					margin-bottom: $spacing--sm;
					&:nth-child(odd) {
						padding-right: $spacing--sm/2;
					}//end &nth-child(odd)

					&:nth-child(even) {
						padding-left: $spacing--sm/2;
					}//end &:nth-child(even)

					&:nth-child(3), &:nth-child(4) {
						margin-bottom: 0;

						@include breakpoint (small down) {
							margin-bottom: $spacing--sm;
						}//end small down breakpoint

					}//end &:nth-child(3), &:nth-child(4)

					@include breakpoint (small down) {
						padding: 0 !important;
					}//end small down breakpoint

					.sl_card {
						height: 100%;
					}//end .sl_card
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_duo__media 
	}//end &--podcast

	//CONFERENCE DUO TYPE
	&--conferences {
		.sl_duo {
			&__media {
				@include breakpoint (medium only) {
					min-height: 0;
				}//end medium only breakpoint
				&__container {
					padding: 0 $spacing--md;
					text-align: center;

					h4 {
						margin-bottom: $spacing--md;
					}//end h4

					.sl_events__logo {
						margin-bottom: $spacing--md;
					}//end .sl_events__logo

					.sl_button-group {
						.sl_button {
							display: block;
							flex: 1 0 0;
							margin-bottom: 0;
							
							@include breakpoint (small down) {
								&:first-of-type {
									margin-bottom: $spacing--sm
								}//end &:first-of-type
							}//end small down breakpoint
					
						}//end .sl_button
					}//end .sl_button-group
				}//endn &__container
			}//end &__media
		}//end .sl_duo
	}//end &--conferences
}//end .sl_cpt_duo