.sl_duo {
	.sl_inner {
		@include innerpadding ($p-xsmall: 0, $p-small: 0);
		& > .sl_row {
			background-color: get-color(inverse);
			box-shadow: $shadow;
			border-radius: $border-radius;
			overflow: hidden;

			@include breakpoint (small down) {
				box-shadow: none;
				border-radius: 0;
			}//end small down breakpoint
			& > .sl_cell {
				padding: 0;
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		position: relative;
		min-height: 300px;

		@include breakpoint (small down) {
			min-height: 250px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

				.sl_duo--video-bottom & {
					align-items: flex-end;
					padding: 0 $spacing--sm $spacing--lg;

					@include breakpoint (small only) {
						padding-bottom: $spacing--sm;
					}//end small only breakpoint
				}

				//DUO TYPES
				.sl_duo--accred & {
					max-height: 275px;
					top: calc(50% - 137.5px);

					@include breakpoint (small down) {
						max-height: none;
						top: 0;
						border-radius: 0;
					}//end small down breakpoint
				}//end .sl_duo--accred &
			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		//DUO TYPES
		.sl_duo--inverse &, .sl_cpt_duo--webinar & {
			&:after {
				@include pseudo;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: get-color(default);
				opacity: .5;
			}//end &:after
		}//end .sl_duo--inverse
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}
		}//end .sl_button-group
	}//end &__content

	&__accreditations {
		.sl_cell {
			padding: 0 $spacing--xs/2;
			width: auto;
		    flex: 0 1 auto;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		    img {
		    	max-height: 70px;
		    	width: auto;
		    }//end img
		}//.sl_cell
	}//end &__accreditations

	//DUO TYPES
	&--accred {
		.sl_inner {
			max-width: 1255px;
		}//end .sl_inner

		@include breakpoint (large only) {
			padding-top: $spacing--sm;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--md;

			.sl_duo__media {
				max-width: 600px;
				margin: 0 auto $spacing--md;
			}//end.sl_duo__media

			.sl_duo__content {
				text-align: center;

				@include breakpoint (medium only) {
					ul.sl_list--check {
						margin-left: 0;
					}//end ul.sl_list--check
				}//end medium only breakpoint

				.sl_duo__accreditations {
					justify-content: center;
				}//end .sl_duo__accreditations
			}//end .sl_duo__content
		}//end medium only breakpoint

		@include breakpoint (small down) {
			.sl_duo__media {
				order: 2;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 1;

				.sl_card {
					display: flex;
					flex-direction: column;
					padding: $spacing--sm;

					@include breakpoint (xsmall only) {
						padding: $spacing--sm $spacing--xs/2;
					}//end xsmall only breakpoint

					.sl_duo__accreditations {
						order: 1;
						margin-bottom: $spacing--sm;
					}//end .sl_duo__accreditations

					h5 {
						order: 2;
					}//end h5

					h2 {
						order: 3;
					}//end h2

					ul {
						order: 4;
						margin-bottom: 0;
					}//end ul
				}//end .sl_card
			}//end .sl_duo__content
		}//end small down breakpoint
	}//end &--accred

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content

		@include breakpoint (medium down) {
			.sl_duo__media {
				order: 1;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 2;
			}//end .sl_duo__content
		}//end medium down breakpoint
	}//end &--right

	&--nobackground {
		.sl_inner {
			@include innerpadding ($p-xsmall: 0, $p-small: 0,$p-medium: $spacing--xs, $p-large: $spacing--lg - $spacing--xs, $p-xlarge: $spacing--xl - $spacing--lg, $p-xxlarge: $spacing--xxl - $spacing--lg);

			& > .sl_row {
				background-color: transparent;
				box-shadow: none;
				border-radius: 0;
				overflow: visible;
				& > .sl_cell {
					padding: 0 $spacing--lg;

					@include breakpoint (large only) {
						padding: 0 $spacing--xs;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: 0 $spacing--xs;

						&.medium-12.sl_duo__media {
							max-width: 600px;
							margin: 0 auto $spacing--md;
						}//end &.medium-12.sl_duo__media
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

		.sl_duo__image {
			border-radius: $border-radius;
			box-shadow: $shadow;

			@include breakpoint (small down) {
				border-radius: 0;
			}//end small down breakpoint
		}//end .sl_duo__image
	}//end &--nobackground

	&--basic {
		.sl_inner {
			@include innerpadding ($p-xsmall: 0, $p-small: 0, $p-medium: $spacing--xs, $p-large: $spacing--lg - $spacing--xs/2, $p-xlarge: $spacing--xxl - $spacing--lg/2);

			& > .sl_row {
				background-color: transparent;
				box-shadow: none;
				border-radius: 0;
				overflow: visible;
				& > .sl_cell {
					padding: 0 $spacing--lg/2;

					@include breakpoint (large only) {
						padding: 0 $spacing--lg/2;

						.sl_card {
							padding: 0;
						}
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: 0 $spacing--xs;

						&.medium-12.sl_duo__media {
							max-width: 600px;
							margin: 0 auto $spacing--md;
						}//end &.medium-12.sl_duo__media
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

		.sl_duo__image {
			border-radius: $border-radius;

			@include breakpoint (small down) {
				border-radius: 0;
			}//end small down breakpoint
		}//end .sl_duo__image

	}
}//.sl_duo