.sl_email {
	position: relative;
	z-index: 2;
	.sl_inner {
		h3 {
			text-align: center;
			color: get-color(inverse);
		}//end h3

		.sl_form {
			max-width: 800px;
			margin: 0 auto;

			@include breakpoint (small down) {
				flex-direction: column;
				max-width: 500px;
			}//end small down breakpoint

			.sl_form__multiselect, .sl_form__input {
				margin: 0 $spacing--xs/2 0 0;

				@include breakpoint (small down) {
					margin: 0 0 $spacing--xs 0;
				}//end small down breakpoint
			}//end .sl_form__multiselect__field, .sl_form__input
		}//end .sl_form
	}//end .sl_inner
}//end .sl_email