.sl_events_loop {
	.sl_inner {
		background-color: get-color(default);
		padding-top: $spacing--xxl;
		padding-bottom: $spacing--xxl*2;
		border-radius: $border-radius;

		@include breakpoint (large down) {
			padding-top: $spacing--lg;
			padding-bottom: $spacing--lg + $spacing--xxl;
		}//end large down breakpoint
		
		@include breakpoint (small down) {
			padding-top: $spacing--md;
			padding-bottom: $spacing--md + $spacing--xxl;
		}//end small down breakpoint

		h2 {
			color: get-color(inverse);
			text-align: center;
			margin-bottom: $spacing--lg;

			@include breakpoint (large down) {
				margin-bottom: $spacing--md;
			}//end large down breakpoint
		}//end h2

		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $shadow;

			&:not(:last-of-type) {
				margin-bottom: $spacing--md;
			}//end &:not(:last-of-type)
		}//end .sl_row

		.sl_button-group {
			justify-content: flex-start;
			.sl_button {
				margin-bottom: 0;

				@include breakpoint (small down) {
					&:first-of-type {
						margin-bottom: $spacing--xs;
					}//end &:first-of-type;
				}//end small down breakpoint
			}//end .sl_button
		}//end .sl_button-group

		h5 {
			margin-bottom: $spacing--xs/2;
		}//end h5

		h3 {
			margin-bottom: $spacing--xs/2;
		}//end h3
	}//end .sl_inner
}//end .sl_events_loop