.sl_event_duo {
	.sl_duo__media {
		position: relative;
		min-height: 300px;

		@include breakpoint (small down) {
			min-height: 250px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;
			box-shadow: $shadow;
			border-radius: $border-radius;
			overflow: hidden;

			@include breakpoint (small down) {
				min-height: 250px;
			}//end small down breakpoint
		}//end &__container

		.sl_duo__image {
			display: flex;
			align-items: center;
			justify-content: center;

			@include breakpoint (small down) {
				padding: 0 $spacing--sm;
			}//end small down breakpoint

		}//end .sl_duo__image
	}//end &__media
}//end .sl_events_duo