.sl_facility {
	.sl_inner {
		max-width: none;
		padding: 0;
	}//end .sl_inner

	&__header {
		@include inner;
		margin-bottom: $spacing--sm;

		.sl_ie-error {
			background-color: get-color(warning);
			padding: $spacing--xs;
			margin-top: $spacing--xs;
			text-align: center;
			border: 1px solid darken(get-color(warning),10%);
			 p {
			 	color: get-color(inverse);
			 	margin-bottom: 0;

			 	a {
			 		color: get-color(inverse);
			 		text-decoration: underline;
			 	}//end a
			 }//end p
		}//end .sl_ie-error
	}//end &__header

	&__controls {
		position: relative;

		@include breakpoint (small down) {
			max-width: 675px;
			margin: 0 auto $spacing--xs;
		}//end small down breakpoint

		.sl_form{
			max-width: 675px;
			align-items: stretch;
			justify-content: space-between;

			@include breakpoint (small down) {
				margin: 0 auto;
			}//end small down breakpoint

			& > * {
				width: 32%;
			}//end & > *

			.sl_button {
				box-shadow: none;

				&:hover {
					box-shadow: $shadow--button;
				}
			}//end .sl_button

			@include breakpoint (small down) {
				flex-wrap: wrap;
				&__select {
					flex: 1 1 auto;
					margin-right: $spacing--xs/3;
				}//end &__select
				&__input {
					flex: 1 1 auto;
					margin-left: $spacing--xs/3;
				}//end &__input
				
				.sl_button {
					display: block;
					width: 100%;
					margin: $spacing--xs auto;
				}//end .sl_button
			}//end small down breakpoint
		}//end .sl_search
	}//end &__controls

	&__toggle {
		&--map {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: row;
			border-radius: $border-radius--pill;
			overflow: hidden;
			@include border ($width: 1px);

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint

			.sl_toggle {
				font-size: 1rem;
				line-height: 1;
				text-transform: uppercase;
				padding: $spacing--xs/2 $spacing--xs $spacing--xs/2 $spacing--sm + rem-calc(14px);
				background-size: 14px 14px;
				background-position: $spacing--xs center;
				background-repeat: no-repeat;
				cursor: pointer;
				@include transition (all .3s ease-in-out);

				&:hover, &:focus {
					background-color: darken(get-color(inverse), 10%);

					&:not(.sl_active) {
						background-position: 14px center;
					}//end &:not(.sl_active)
				}//end &:hover, &:focus

				&--card {
					background-image: url(#{$path-img}icon/cardview-icon.svg);
				}//end &--card

				&--map {
					background-image: url(#{$path-img}icon/mapview-icon.svg);
				}//end &--map

				&.sl_active {
					cursor: default;
					background-color: get-color(default);
					color: get-color(inverse);
					@include transition (all .3s ease-in-out);
				}//end &.sl_active
			}//end .sl_toggle
		}//end &--map

		&--type {
			position: absolute;
			top: 0;
			right: rem-calc(264) + $spacing--lg;

			@include breakpoint (medium down) {
				position: static;
			}//end medium down breakpoint

			.sl_toggle {
				display: inline-block;
				cursor: pointer;

				&:before {
					display: inline-block;
					font-family: FontAwesome;
					content: '\f205';
					margin-right: $spacing--xs/2;
					color: get-color(primary);
				}//end &:before

				&.sl_inactive {
					&:before {
						content:'\f204';
						color: get-color(default);
					}//end &:before;
				}//end &.sl_inactive

				&--residential {
					margin-right: $spacing--sm;
				}//end &--residential
			}//end .sl_toggle
		}//end &--type
	}//end &__toggle

	//CAROUSEL
	&--carousel {

		.sl_inner {
			max-width: none;
			padding: 0;
		}//end .sl_inner

		.sl_facility__header {
			@include inner;

			@include breakpoint (large only) {
				margin-bottom: 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				margin-bottom: 0;
				
				h2 {
					margin-bottom: $spacing--md;
				}//end h2
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-bottom: 0;

				.sl_facility_search {
					margin-bottom: 0;
				}
			}//end small down breakpoint
		}//end &__header

		.slick-track{
		    display: flex;

		    .slick-slide{
		        display: flex;
		        flex-direction: column;
		        height: auto;
		        margin: $spacing--xl $spacing--sm/2 $spacing--xxl;
				max-width: 390px;

				@include breakpoint (large only) {
					margin: $spacing--lg $spacing--sm/2 $spacing--xl; 
				}//end large only breakpoint

				@include breakpoint (medium only) {
					margin: $spacing--lg $spacing--xs/2 $spacing--lg;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					margin: $spacing--lg $spacing--sm $spacing--lg;
				}//end small down breakpoint
		    }//end .slick-slide
		}//end .slick-track

		.sl_card {
			cursor: grab;

			&:active {
				cursor: grabbing;
			}//end &:active
		}//end .sl_card
	}//end &--carousel
	
	//DECK
	&--contact-deck, &--careers {

		.sl_card--facility {
			text-align: center;

			@include breakpoint (small only) {
				max-width: 350px;
				margin-left: auto;
				margin-right: auto;
			}//end small only breakpoint

			.sl_card__image {
				min-height: 135px;

				&:after {
					display: none;
				}//end &:after
			}//end &__image

			h3 {
				font-weight: $font-weight--medium;
				margin-bottom: $spacing--xs;
			}//end h3

			.sl_card__content {
				padding: $spacing--sm $spacing--md;
				
				p {
					margin-bottom: $spacing--xs;
				}//end p

				.sl_button--directions {
					color: get-color(default);
					text-decoration: underline;
				}//end a:last-of-type
			}//end &__content

			.sl_button {
				display: block;
			}//end .sl_button
		}//end .sl_card
	}//end &--contact-deck, &--careers



	&__deck {
		@include inner;
		@include innerpadding($p-small: $spacing--sm,$p-medium: $spacing--md  - $spacing--sm/2, $p-large: $spacing--lg - $spacing--xs/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);
		padding-top: $spacing--sm;

		@include breakpoint (medium down) {
			padding-top: 0;
		}//end medium down breakpoint

		& > .sl_cell {
			padding: 0 $spacing--sm/2;
			margin-bottom: $spacing--sm;

			@include breakpoint (xlarge only) {
				padding: 0 $spacing--xs/2;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding: 0 $spacing--xs/2;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			&.sl_inactive {
				display: none;
			}//end .sl_inactive
		}//end & > .sl_cell
	}//end &__deck
	
	//MAP
	&__map {
		margin-top: $spacing--lg;
		margin-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			margin-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			margin-top: $spacing--md;
			margin-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin-top: $spacing--sm;
			margin-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &__map
}//end .sl_facility