.sl_facility_duo {
	.sl_inner {
		@include innerpadding ($p-xsmall: 0, $p-small: 0);
		& > .sl_row {
			background-color: get-color(inverse);
			box-shadow: $shadow;
			border-radius: $border-radius;
			overflow: hidden;

			@include breakpoint (small down) {
				box-shadow: none;
				border-radius: 0;
			}//end small down breakpoint
			& > .sl_cell {
				padding: 0;
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner
	.sl_duo {

		&__media {
			position: relative;
			min-height: 300px;

			@include breakpoint (medium only) {
				order: 1;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				order: 1;
				min-height: 250px;
			}//end small down breakpoint

			&__container {
				position: relative;
				width: 100%;
				height: 100%;
				min-height: 300px;

				@include breakpoint (small down) {
					min-height: 250px;
				}//end small down breakpoint
			}//end &__container
		}//end &__media

		&__image {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 $spacing--sm;	
		}//end &__image

		&__content {
			display: flex;
			align-items: center;
			position: relative;

			@include breakpoint (medium only) {
				order: 2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				order: 2;
				flex: 0 0 auto;
				width: 100%;
			}//end small down breakpoint

			h2 {
				margin-bottom: 8px;
			}

			h2, h5 {
				padding-right: 80px;
			}//end h2, h5

			.sl_logo {
				max-width: 140px;
				margin-bottom:24px; 
			}

			.frn_phone {
				@extend .sl_button;
				@extend .sl_button--phone;
				@extend .sl_phone__number;
			}//end .frn_phone
			
		}//end &__content
	}//.sl_duo

	.sl_accreditation {
		max-width: 80px;
		height: auto;
		position: absolute;
		top: $spacing--sm;
		right: $spacing--sm;
	}//end .sl_accreditation
}//end .sl_facility_duo