.sl_facility_tour {

	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end .sl_inner

	.sl_module__map {
		width: 100%;
		min-height: 250px;

		@include breakpoint (small down) {
			min-height: 175px;
		}//end small down breakpoint
	}//end .sl_module__map

	.sl_duo__content {
		@include container;
		overflow: hidden;
		position: relative;
		z-index: 1;

		@include breakpoint (medium only) {
			order: 2;
			max-width: 600px;
			margin: 0 auto;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			order: 2;
			padding: 0 $spacing--sm;
			box-shadow: none;
			border-radius: 0;
			overflow: visible;
		}//end small down breakpoint

		p {
			margin-bottom: $spacing--xs/2;
		}//end p

		.frn_phone {
			@extend .sl_button;
			@extend .sl_button--phone;
			font-size: rem-calc(26px);
			display: block;
			margin-bottom: $spacing--xs/2;
		}//end .frn_phone
		
		.sl_socials {
			max-width: 200px;
			margin: 0 auto;
			justify-content: center;

			.sl_cell {
				text-align: center;
				width: auto;
				padding: 0 $spacing--xs/2;

				a {
					margin: 0 auto;
					width: 45px;
					height: 45px;
				}//end a
			}//end .sl_cell
		}//end .sl_socials
	}//end .sl_duo__content

	.sl_duo__media {
		border-radius: 0 $border-radius $border-radius 0;
		overflow: hidden;

		&__container {
			min-width: 0;
			min-height: 0;
		}

		@include breakpoint (medium down) {
			order: 1;
			border-radius: 0;
			overflow: visible;
			margin-bottom: $spacing--md + rem-calc(56px) + $spacing--md;

			&--notour {
				margin-bottom: $spacing--md;
			}//end &--notour
		}//end medium down breakpoint

		@include breakpoint (medium only) {
			box-shadow: $shadow;
			max-width: 600px;
			margin-right: auto;
			margin-left: auto;
		}//end medium only breakpoint
		
		.sl_button {
			position: absolute;
			z-index: 1;
			right: $spacing--sm;
			top: $spacing--sm;

			@include breakpoint (medium down) {
				top: auto;
				bottom: -$spacing--md - rem-calc(56px);
				left: $spacing--sm;
				right: $spacing--sm;
				margin-bottom: 0;
				width: auto;
			}//end medium down breakpoint
		}//end.sl_button
	}//end .sl_duo__media

	.sl_tour_slider {
		position: relative;
		display: flex;
		height: 100%;
		
		.slick-list{
			overflow: hidden;
			width: 100%;

			@include breakpoint (medium only) {
				border-radius: $border-radius;
			}//end medium only breakpoint

				.slick-track, .slick-track  div {
					height: 100%; 
					width: 100%;
				}//end .slick-track, .slick-track  div
				.slick-slide{
					.sl_slide__image{
						background-size: cover;
						background-repeat: no-repeat;
						background-position: right bottom;
					}//end .gallery-image
				}//end .slick-slide

		}//end slick-list
	}//end .sl_tour_slider
}//end .sl_facility_tour