.sl_module {
	padding-top: $spacing--xxl;

	@include breakpoint (large only) {
		padding-top: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-top: $spacing--md;
	}//end small down breakpoint


	//UTILITY CLASSES
	&--notop, &:first-of-type {
		padding-top: 0;

		@include breakpoint (large only) {
			padding-top: 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
		}//end small down breakpoint
	}
	&--withbottom {
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--withbottom

 	&--notop-small {
 		@include breakpoint (small down) {
 			padding-top: 0 !important;
 		}//end small down breakpoint
 	}//end &--notop-small

 	&--nobottom-medium {
 		@include breakpoint (medium only) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
 	}//end &--nobottom-medium

	&--nobottom-small {
		@include breakpoint (small down) {
			padding-bottom: 0 !important;
		}//end small down breakpoint
	}//end &--nobottom-small

	&--offwhite {
		background-color: get-color(inverse-tint1);
	}//end &--offwhite

	&--overlaptop {
		margin-top: -$spacing--xxl;
		padding-top: 0;
	}//end &--overlaptop

	&--underlaptop {
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl + $spacing--xxl;

		@include breakpoint (large only) {
			padding-top: $spacing--xxl + $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: $spacing--xxl + $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xxl + $spacing--md;

			&.sl_module--notop-small {
				padding-top: 0;
				margin-top: 0;
			}//end .sl_module--notop-small
		}//end small down breakpoint
	}//end &--underlaptop

	&--default-grey {
		background-image: linear-gradient(180deg, get-color(default) $spacing--xxl + $spacing--xxxl, get-color(inverse-tint1) $spacing--xxl + $spacing--xxxl, get-color(inverse-tint1) 100%);

		@include breakpoint (large only) {
			background-image: linear-gradient(180deg, get-color(default) $spacing--xl + $spacing--xxxl, get-color(inverse-tint1) $spacing--xl + $spacing--xxxl, get-color(inverse-tint1) 100%);
		}//end large only breakpoint

		@include breakpoint (medium only) {
			background-image: linear-gradient(180deg, get-color(default) $spacing--lg + $spacing--xxxl, get-color(inverse-tint1) $spacing--lg + $spacing--xxxl, get-color(inverse-tint1) 100%);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			background-image: linear-gradient(180deg, get-color(default) $spacing--md + $spacing--xxxl, get-color(inverse-tint1) $spacing--md + $spacing--xxxl, get-color(inverse-tint1) 100%);
		}//end small down breakpoint
	}//end &--default-grey
}//end .sl_module