.sl_news {
	.sl_inner {

		h2 {
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2
		
		& > .sl_row {
			& > .sl_cell {
				&:not(:nth-of-type(3n)){
					border-right: 1px solid get-color(default-tint3);

					@include breakpoint (medium only) {
						border-right: none;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						border-right: none;
					}//end small down breakpoint
				}//end &:not(:nth-of-type(4n))

				&:nth-of-type(n+4) {
					border-top: 1px solid get-color(default-tint3);

					@include breakpoint (small down) {
						border-top: none;
					}//end small down breakpoint
				}//end &:nth-of-type(n+5)

				@include breakpoint (small down) {
					border: none;

					&:not(:last-child) {
						border-bottom: 1px solid get-color(default-tint3);
					}//end :not(:last-child)
				}//end small down breakpoint

				@include breakpoint (medium only) {
					border-top: none;
					border-right: none;

					&:nth-of-type(n+3) {
						border-top: 1px solid get-color(default-tint3);
					}//end &:nth-of-type(n+3)

					&:nth-of-type(odd) {
						border-right: 1px solid get-color(default-tint3);
					}//end &:nth-of-type(odd)
				}//end medium only breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner
}//end .sl_news