.sl_similar_locations {
	background-image: $gradient--primary;
	padding-bottom: $spacing--xxl;
	position: relative;

	@include breakpoint (xxxlarge only) {
		background-image: none;
	}//end xxxlarge only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;

		h3 {
			margin-bottom: $spacing--sm;
		}
	}//end small down breakpoint

	&:before {
		@include wave-overlay ($color:flipped);
		background-position-y: 0;
		height: 500px;
		top: 0;
		bottom: auto;

		@include breakpoint (xxxlarge only) {
			background: $gradient--primary;
			height: 150px;
			bottom: 0;
			top: auto;
		}//end xxxlarge only breakpoint
	}//end &:before

	.sl_inner {
		@include innerpadding($p-small: $spacing--sm,$p-medium: $spacing--md - $spacing--xs/2, $p-large: $spacing--lg - $spacing--sm/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);
		& > .sl_row {
			&  > .sl_cell {
				&:first-of-type {
					padding-right: $spacing--xs;
					display: flex;
					align-items: center;
					width: 130px;

					h3 {
						width: 100%;

						@include breakpoint (medium only) {
							margin: 0 auto $spacing--md;
							text-align: center;
							font-size: 1.5rem;
						}//end medium only breakpoint
					}//end h3

					

					@include breakpoint (medium down) {
						width: 100%;
						padding: 0;
					}//end medium down breakpoint
				}//end &:first-of-type

				&:last-of-type {
					flex: 1 1 0;

					@include breakpoint (medium down) {
						flex: 1 1 100%;
					}//end medium down breakpoint
				}//end &:last-of-type
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	.sl_locations__deck {
		& > .sl_cell {
			padding: 0 $spacing--sm/2;

			@include breakpoint (medium only) {
				padding: 0 $spacing--xs/2;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(:last-of-type)
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end .sl_locations__deck
}//end .sl_similar_locations