.sl_staff {

	&--deck {
		p {
			font-size: 1rem;
			line-height: 1.125rem;

			@include breakpoint (medium only) {
				font-size: rem-calc(15px);
			}//end medium only breakpoint
		}//end p
		.sl_inner {
			@include innerpadding ($p-small: $spacing--sm,$p-medium: $spacing--md - $spacing--xs/2, $p-large: $spacing--lg - $spacing--sm/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);
			& > .sl_row {
				& > .sl_cell {
					padding: $spacing--sm/2;

					@include breakpoint (medium only) {
						padding: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;

						&:not(:last-of-type) {
							margin-bottom: $spacing--sm;
						}//end &:not(:last-of-type)
					}//end small down breakpoint
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
		.sl_staff__image {
			min-height: 300px;

			@include breakpoint (medium only) {
				min-height: 250px;
			}//end medium only breakpoint
		}//end &.sl_staff__image

		.sl_card--staff {
			box-shadow: $shadow;

			@include breakpoint (small down) {
				max-width: 325px;
				margin: 0 auto;
			}//end small down breakpoint
		}//end .sl_card--staff
	}//end &--deck

	&--spotlight {
		h3 {
			margin-bottom: $spacing--xs/2;
			line-height: 1;
		}//end h3

		h4 {
			margin-bottom: $spacing--sm;
			line-height: 1;
		}//end h4

		.sl_button {
			margin-bottom: 0;
		}//end .sl_button

		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@include breakpoint (small down) {
							margin-bottom: $spacing--sm;
						}//end small down breakpoint
					}//end & :first-of-type;

					&:last-of-type {
						padding-left: $spacing--xl;

						@include breakpoint (large only) {
							padding-left: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding-left: $spacing--xs;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding-left: 0;
						}//end small down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

		.sl_staff__image {
			border-radius: $border-radius;
			min-height: 450px;

			@include breakpoint (medium down) {
				min-height: 350px;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				max-width: 375px;
				margin: 0 auto;
			}//end small down breakpoint
		}//end &.sl_staff__image
	}//end &--spotlight

	&__image {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}//end &__image
}//end .sl_staff