//WEBINAR MODULE
.sl_webinar {
	.sl_inner {
		& > .sl_row {
			@include container;
			overflow: hidden;
		}//end & > .sl_row
	}//end .sl_inner

	&__image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		min-height: 300px;
		height: 100%;

		@include breakpoint (small down) {
			margin: 0 auto $spacing--sm;
			width: 100%;
			min-height: 200px;
			background-position: center center;
			position: relative;
		}//end small down breakpoint
	}//end &__image

	&__content {
		display: flex;

		a {
			color: get-color(default);
		}//end a

		h3 {
			font-size: 2rem;

			@include breakpoint (medium down) {
				font-size: 1.5rem;
			}//end medium down breakpoint
		}//end h3

		h4 {
			margin-bottom: $spacing--md;
		}//end h4
	}//end &__content

	&__card {
		width: 100%;
		align-self: center;
	}//end &__card

	.sl_button-group {
		border-top: 1px solid get-color(default-tint3);
		padding-top: $spacing--md;
		.sl_button {
			flex: 1 1 auto;
		}//end .sl_button
	}//end .sl_button-group
}//end .sl_webinar