.sl_wild_nav {
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--sm;
	}//end small down breakpoint
	
	&__heading {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint

		h2, h4 {
			margin-bottom: 0;
		}//end h2, h4

		h2 {
			@include breakpoint (small down) {
				font-size: 1.25rem;
				text-align: center;
			}//end small down breakpoint
		}//end h2
	}//end &__heading

	&__number {
		height: 34px;
		width: 34px;
		background-color: get-color(inverse-tint1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: $spacing--sm;
		flex: 0 0 auto;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end &__number

	&__item {
		margin-bottom: $spacing--lg;

		&:last-of-type {
			margin-bottom: 0;

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &:last-of-type
	}//end &__item

	&__sidebar {
		&__container {
			padding-right: $spacing--xl;
			border-right: 1px get-color(default-tint3) solid;

			@include breakpoint (xlarge only) {
				padding-right: $spacing--md;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding-right: $spacing--sm;
			}//end medium only breakpoint

			a {
				display: block;
				color: get-color(default);
				opacity: .4;

				@include breakpoint (xlarge only) {
					h3 {
						font-size: 1.5rem;	
					}//end h3
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					h3 {
						font-size: 1.25rem;	
					}//end h3
				}//end large only breakpoint

				&:focus, &:active {
					opacity: 1;
					font-weight: $font-weight--medium;
				}//end &:focus, &:active
			}//end a
		}//end &__container;
	}//end &__sidebar

	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
				//Content
				&:last-of-type {
					padding-left: $spacing--xl;

					@include breakpoint (xlarge only) {
						padding-left: $spacing--md;
					}//end xlarge only breakpoint

					@include breakpoint (large only) {
						padding-left: $spacing--sm;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding-left: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end &:last-of-type
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner
}//end .sl_wild_nav