.sl_wildcard {
	&--pattern {
		.sl_inner {
			padding: 0;
			& > .sl_row {
				@include pattern;
				overflow: hidden;
				border-radius: $border-radius;
				padding: $spacing--xxl $spacing--xxl * 2;

				@include breakpoint (xlarge down) {
					border-radius: 0;
					padding: $spacing--xxl $spacing--xl - $spacing--sm;
				}//end xlarge down breakpoint

				@include breakpoint (large only) {
					padding: $spacing--xl $spacing--lg - $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: $spacing--lg $spacing--xs;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--md $spacing--sm;
				}//end small down breakpoint

				& > .sl_cell {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 $spacing--sm;
					
					@include breakpoint (medium only) {
						padding: 0 $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end .sl_cell
			}//end & > .sl_row

			.sl_card > h2 {
				color: get-color(inverse);

				@include breakpoint (medium only) {
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					font-size: rem-calc(21px);
					text-align: center;
					max-width: 285px;
					margin: 0 auto;
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end .sl_card
		}//end .sl_inner
	}//end &--pattern

	&--icon {
		img {
			width: 32px;
			height: auto;
			margin-bottom: $spacing--sm;
		}//end img
	}//end &--icon

	&--secondary {
		@extend .sl_wildcard--pattern;
		.sl_inner {
			& > .sl_row {
				background: get-color(secondary);

				.sl_card {
					width: 100%;
				}//end .sl_card

				& > .sl_cell {
					&:last-of-type {
						text-align: center;
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//ned .sl_inner
	}//end &--secondary

	&--accred {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {

					//Content
					&:first-of-type {
						@extend .xlarge-8;
						@extend .large-7;
						padding-right: $spacing--lg;

						@include breakpoint (medium only) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;
							margin-bottom: $spacing--md;
						}//end small down breakpoint
					}//end &:first-of-type

					//Accerditations
					&:last-of-type {
						@extend .xlarge-4;
						@extend .large-5;
						padding-left: $spacing--lg;
						@include wildcard--accredbox;

						@include breakpoint (large only) {
							padding-left: 0;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding: 0;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;

							.sl_card--wildcard {
								padding: 0;
								box-shadow: none;

								h4 {
									margin-bottom: $spacing--md;
								}//end h4
							}//end .sl_card--wildcard
						}//end small down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--accred

	&--resources, &--resources-duo {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						padding-right: $spacing--sm/2;

						@include breakpoint (medium down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end medium down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--sm/2;

						@include breakpoint (medium down) {
							padding: 0;
						}//end medium down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row

			h3 {
				padding-bottom: $spacing--xs;
				margin-bottom: $spacing--xs;
				border-bottom: 1px solid get-color(default-tint3);
			}//end h3
		}//end .sl_inner
	}//end &--resources

	&--resources-duo {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						padding-right: $spacing--xxl/2;

						@include breakpoint (large only) {
							padding-right: $spacing--lg/2;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end medium down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--xxl/2;

						@include breakpoint (large only) {
							padding-left: $spacing--lg/2;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: 0;
						}//end medium down breakpoint

					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--resources-duo

	&--treatment {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@include wildcard--border;

						@include breakpoint (medium only) {
							margin-bottom: $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							margin-bottom: $spacing--sm;

							.sl_card--wildcard {
								border: none;
								border-radius: 0;
								padding: 0;
							}//end .sl_card--wildcard
						}//end small down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						.sl_card--wildcard {
							padding: $spacing--md;

							@include breakpoint (large only) {
								padding: 0;
								padding-left: 2.5rem;
							}//end large only breakpoint

							@include breakpoint (medium down) {
								padding: 0;
							}//end medium down breakpoint
						}//end .sl_card--wildcard
					}//end &:last-of-type

					@include breakpoint (small down) {
						.sl_row--shortcode {
							.sl_cell {			
								&:first-of-type {
									margin-bottom: $spacing--xs/2;
								}//end &:first-of-type
							}//end .sl_cell
						}//end .sl_row
					}//end small down breakpoint

				}//end & > .sl_cell
			}//end .sl_row
		}//end .sl_inner
	}//end &--treatment

	&--referral {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@extend .xlarge-8;
						@extend .large-7;
						padding-right: $spacing--xxl;
						@include wildcard--border;

						@include breakpoint (large only) {
							padding-right: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding: 0;
							margin-bottom: $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small down breakpoint

						h3 {
							font-weight: $font-weight--bold;
							font-size: 1.125rem;
						}//end h3
					}//end &:first-of-type

					&:last-of-type {
						@extend .xlarge-4;
						@extend .large-5;
						@include wildcard--accredbox;
					}//ebd &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--referral

	&--release, &--webinars {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@extend .xlarge-8;
						@extend .large-7;
						padding-right: $spacing--xxl;

						@include breakpoint (large only) {
							padding-right: $spacing--md;
						}//end large only breakpoint
						
						@include breakpoint (medium down) {
							padding: 0;
							margin-bottom: $spacing--md;
						}//end small down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						@extend .xlarge-4;
						@extend .large-5;

						@include breakpoint (medium down) {
							padding: 0;
						}//end small down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row

			.sl_button-group {
				justify-content: flex-start;
				
				.sl_button {
					margin-bottom: 0;

					@include breakpoint (small down) {
						width: 100%;

						&:first-of-type {
							margin-bottom: $spacing--xs;
						}
					}//end small down breakpoint
				}//end .sl_button
			}//end .sl_button-group

			ul.sl_list--arrow {
				margin-bottom: 0 !important;
			}//end ul
		}//end .sl_inner
	}//end &--release, &--webinars

	&--webinars {
		padding-top: 6rem;
		padding-bottom: $spacing--xxl;
		margin-top: -$spacing--xxl;
		position: relative;
		z-index: 0;

		&__main {
			padding-top:0;
		}

		@include breakpoint (xlarge down) {
			padding-bottom: 0;
		}//end xlarge down breakpoint

		.sl_inner {
			background-color: get-color(default);
			padding-top: $spacing--xxl * 2;
			padding-bottom: $spacing--xxl;
			border-radius: $border-radius;

			@include breakpoint (xlarge down) {
				border-radius: 0;
			}//end xlarge down breakpoint

			@include breakpoint (medium only) {
				padding-top: $spacing--xxl + $spacing--lg;
				padding-bottom: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding-top: $spacing--xxl + $spacing--md;
				padding-bottom: $spacing--md;
			}//end small down breakpoint
		}//end .sl_inner

		h2, h3, p, ul.sl_list--arrow li .sl_webinar_link {
			color: get-color(inverse);
		}//end inverse
	}//end &--webinars

	&--contained {
		.sl_inner {
			& > .sl_row {
				@include container;
				padding: $spacing--lg;

				& > .sl_cell {
					&:first-of-type {
						padding-right: $spacing--sm;
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--sm;
					}//end &:last-of-type
				}//end & > .sl_cell

				@include breakpoint (medium only) {
					padding: $spacing--md;

					& > .sl_cell {
						&:first-of-type {
							margin-bottom: $spacing--md;
							padding: 0;
						}//end &:first-of-type

						&:last-of-type {
							margin-bottom: 0;
							padding: 0;
						}//end &:last-of-type
					}//end & > .sl_cell
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--md $spacing--sm;

					& > .sl_cell {
						&:first-of-type {
							margin-bottom: $spacing--sm;
							padding: 0;
						}//end &:first-of-type

						&:last-of-type {
							margin-bottom: 0;
							padding: 0;
						}//end &:last-of-type
					}//end & > .sl_cell
				}//end small down breakpoint
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--contained

	&--dark {
		.sl_inner {
			& > .sl_row {
				background-color: get-color(default);
				border-radius: $border-radius;

				.sl_card {
					& > * {
						color: get-color(inverse);
					}//end & > *
				}//end .sl_card
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--dark

	&--expanded {
		.sl_inner {
			& > .sl_row {
				padding: $spacing--xxl $spacing--xxl*2;

				@include breakpoint (large only) {
					padding: $spacing--xl;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: $spacing--lg;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--md $spacing--sm;
				}//end small down breakpoint
				.sl_card {
					text-align: center;

					@include breakpoint (small down) {
						text-align: left;
					}//end small down breakpoint

					.sl_search {
						max-width: 500px;
						margin: 0 auto;
					}
				}//end .sl_card
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--expanded

	&--inverse {
		.sl_inner {
			@include innerpadding ($p-xsmall: 0, $p-small: 0);
			& > .sl_row {
				background-color: get-color(default);
				padding: $spacing--xxl;
				border-radius: $border-radius;

				@include breakpoint (large only) {
					padding: $spacing--lg;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--sm;
					border-radius: 0;
				}//end small down breakpoint

				& > .sl_cell {
					&:first-of-type {
						h2 {
							color: get-color(inverse);
							text-align: center;
							margin: 0 auto;

							@include breakpoint (large only) {
								max-width: 600px;
							}//end large only breakpoint
						}//end h2

						margin-bottom: $spacing--lg;

						@include breakpoint (large only) {
							margin-bottom: $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							margin-bottom: $spacing--sm;
						}//end medium down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						.sl_card {
							@include container;

							padding: $spacing--lg;

							@include breakpoint (medium only) {
								padding: $spacing--md;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								padding: $spacing--sm $spacing--xs;
							}//end small down breakpoint
						}//end .sl_card
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--inverse

	&--relatedposts {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@extend .large-6;
						@extend .medium-5;
						padding-right: $spacing--xxl;
						display: flex;
						align-items: center;

						.sl_card--wildcard {
							width: 100%;
						}//end .sl_card--wildcard

						@include breakpoint (large only) {
							padding-right: $spacing--lg;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding-right: $spacing--xs;

							blockquote {
								font-size: 1.25rem;
								p {
									font-size: 1.25rem;
								}//end p
							}//end blockquote
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						@extend .large-6;
						@extend .medium-7;

						@include breakpoint (medium only) {
							.sl_wildcard__posts>.sl_cell:nth-child(odd) {
								padding-right: $spacing--xs/2;
							}
							.sl_wildcard__posts>.sl_cell:nth-child(even) {
								padding-left: $spacing--xs/2;
							}

							.sl_wildcard__posts>.sl_cell {
								margin-bottom: $spacing--xs;
							}
						}//end medium only breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--relatedposts

	&__posts {
		& > .sl_cell {
			margin-bottom: $spacing--sm;
			&:nth-child(odd) {
				padding-right: $spacing--sm/2;
			}//end &nth-child(odd)

			&:nth-child(even) {
				padding-left: $spacing--sm/2;
			}//end &:nth-child(even)

			&:nth-child(3), &:nth-child(4) {
				margin-bottom: 0;

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint

			}//end &:nth-child(3), &:nth-child(4)

			@include breakpoint (small down) {
				padding: 0 !important;
			}//end small down breakpoint

			.sl_card {
				height: 100%;
			}//end .sl_card
		}//end & > .sl_cell
	}//end &__posts

	&--alumni-intro {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@include breakpoint (medium down) {
							order: 2;
						}//end medium down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--lg;
						
						.sl_card {
							display: flex;
							height: 100%;
							width: 100%;
							align-items: center;
							justify-content: center;

							img {
								width: 100%;
								max-width: 500px;
								height: auto;
							}//end img
						}//end .sl_card

						@include breakpoint (medium down) {
							order: 1;
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end medium down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--alumni-intro

	&--alumni-offer {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						@extend .medium-3;
						.sl_card {
							h3 {
								padding-bottom: $spacing--xs;
								margin-bottom: $spacing--xs;
								border-bottom: 1px solid get-color(default-tint3);
							}//end h3

							a {
								color: get-color(default);
							}//end a
						}//end .sl_card
					}//end &:first-of-type

					&:last-of-type {
						@extend .medium-9;
						padding-left: $spacing--xxl;

						@include breakpoint (small down) {
							padding-left: 0;
						}//end small down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

		ul.sl_list--arrow {
			@include breakpoint (medium only) {
				margin-bottom: 0 !important;
			}//end medium only breakpoint
		}//end ul
	}//end &--alumni-offer

	&--dark-duo {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						padding-right: $spacing--xl/2;

						@include breakpoint (large only) {
							padding-right: $spacing--lg/2
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding-right: $spacing--sm/2;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small down breakpoint
						.sl_card {
							border-radius: $border-radius;
							background-color: get-color(default);
							padding: $spacing--lg;

							@include breakpoint (medium only) {
								padding: $spacing--md;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								padding: $spacing--sm;
							}//end small down breakpoint

							& > * {
								color: get-color(inverse);
							}//end & > *

							.sl_button {
								margin-bottom: 0;
							}//end .sl_button
						}//end .sl_card
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--xl/2;

						@include breakpoint (large only) {
							padding-left: $spacing--lg/2;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding-right: $spacing--sm/2;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: 0;
						}//end small down breakpoint
					}//end &:last-of-type;
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner
	}//end &--dark-duo

	&--accordion-duo {
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					&:first-of-type {
						padding-right: $spacing--xl/2;

						@include breakpoint (large only) {
							padding-right: $spacing--lg/2;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end medium down breakpoint
					}//end &:first-of-type

					&:last-of-type {
						padding-left: $spacing--xl/2;

						@include breakpoint (small only) {
							padding-right: $spacing--lg/2;
						}//end small only breakpoint

						@include breakpoint (medium down) {
							padding: 0;
						}//end medium down breakpoint
					}//end &:last-of-type;
				}//end & > .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

		.sl_accordion {
			padding: 0;
		}//end .sl_accordion
	}//end &--accordion-duo
}//end .sl_wildcard