.sl_module--wrapper {
	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&--wave-pattern {
		background-image: $gradient--primary;
		position: relative;
		padding-top: 200px;

		@include breakpoint (xxxlarge only) {
			padding-top: $spacing--xxl;
			margin-top: $spacing--xxl;
		}//end xxxlarge only breakpoint

		@include breakpoint (large only) {
			padding-top: 160px;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-top: 130px
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--lg * 2;
		}//end small down breakpoint

		&:before {
			@include wave-overlay ($color:flipped);
			background-position-y: -80px;
			height: 200px;
			top: 0;
			bottom: auto;

			@include breakpoint (xxxlarge only) {
				display: none;
			}//end xxxlarge only breakpoint

			@include breakpoint (medium only) {
				height: 170px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				height: 140px;
			}//end small down breakpoint
		}//end &:before

		&:after {
			@include pseudo;
			@include pattern--transparent;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}//end &:after;
	}//end &--wave-pattern

	&--default-overlap {
		position: relative;
		max-width: $grid-container;
		margin: 0 auto;

		& > h2 {
			color: get-color(inverse);
			text-align: center;
			@include inner;
			margin-bottom: $spacing--lg;

			@include breakpoint (large down) {
				margin-bottom: $spacing--md;
			}//end large down breakpoint

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2

		&:before {
			@include pseudo;
			background-color: get-color(default);
			border-radius: $border-radius;
			z-index: -1;
			top: 0;
			bottom: $spacing--xxxl;
			right: 0;
			left: 0;

			@include breakpoint (xlarge down) {
				border-radius: 0;
			}//end xlarge down breakpoint
		}//end &:before

		&.sl_module--withbottom:before {
			bottom: $spacing--xxxl + $spacing--xxl;

			@include breakpoint (large only) {
				bottom: $spacing--xxxl + $spacing--xl;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				bottom: $spacing--xxxl + $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				bottom: $spacing--xxxl + $spacing--md;
			}//end small down breakpoint
		}//end .sl_module--withbottom
	}//end &--default-overlap

	&--default-underlap {
		position: relative;
		padding: 0 $spacing--md $spacing--md;

		@include breakpoint (medium only) {
			padding: 0 $spacing--xs $spacing--xs;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
		
		&:before {
			@include pseudo;
			background-color: get-color(default);
			border-radius: $border-radius;
			z-index: -1;
			top: $spacing--xxxl*2;
			bottom: 0;
			right: 0;
			left: 0;

			@include breakpoint (xlarge down) {
				border-radius: 0;
			}//end xlarge down breakpoint

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint
		}//end &:before
	}//end &--default-underlap;
}//end .sl_module--wrapper