{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	{# ARTICLE HEADER #}
	<div class="sl_post__header">
		<div class="sl_inner">
				<div class="sl_card">

					{# Share Button For Medium Only #}
					<a class="sl_button sl_button--share st-custom-button show-for-medium-only" data-network="sharethis">Share</a>
					<h1 class="sl_post__title">{{ post.title }}</h1>
					<div class="sl_divider"></div>
					{% if post.terms('research-type')|first == "Research Abstracts" %}
						<p class="sl_post__date">{{ post.date }}</p>
					{% endif %}
				</div>{# /.sl_card #}
		</div>{# /.sl_row #}
	</div>{# /.sl_post__header #}
	

	<section class="sl_content__body">
		<div class="sl_inner">
			<div class="sl_row">
				<div data-sticky-container class="sl_cell large-1">
					{% include 'sharethis.twig' %}
				</div>{# /.sl_cell #}
				<div class="sl_cell large-11">	
					<div id="main" class="sl_content__post">
						{{post.content}}
					</div>{# /.sl_post__content #}
				</div>{# /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}
