{% extends "base.twig" %}

{% block content %}
    {% set podcast = post %}
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        <section class="sl_content__body">
            <div class="sl_inner">
                <div class="sl_row">
                	<div data-sticky-container class="sl_cell large-1">
                        {% include 'sharethis.twig' %}
                    </div>{# /.sl_cell #}
                    <div class="sl_cell large-7">
                        <main id="main" class="sl_main">
                            {% if podcast.episode_number %}
                                <h4 class="sl_podcast__episode">Episode #{{podcast.episode_number}}</h4>
                            {% endif %}
                            <h1 class="sl_podcast__title">{{podcast.podcast_title}}</h1>
                            <h3 class="sl_podcast__guest">{% if podcast.guest_name != null %}Featured Guest: {{podcast.guest_name}}{% endif %}</h3>

                            {% if podcast.podcast_image %}
                                <img class="sl_podcast__image"alt="{{podcast.guest_name}} image" src="{{ Image(podcast.podcast_image).src }}">
                            {% endif %}

                            {% if podcast.podcast_summary %}
                            <div class="sl_podcast__summary">
                                {{podcast.podcast_summary|wpautop}}
                                
                                {% if podcast.embed_src %}
                                <div class='sl_podcast__player sl_podcast_{{podcast.episode_number}}'>
                                    {% include 'partials/podcast-embed.twig' %}
                                </div>
                                {% endif %}
                            </div>{#/.sl_podcast__summary #}
                            {% endif %}

                            {% if podcast.content %}
                            <div class="sl_podcast__transcript">
                                <h2>Podcast Transcript</h2>
                                {{podcast.content}}
                            </div>{# /.sl_podcast__transcript #}
                            {% endif %}
                        </main>{# /.sl_main #}
                    </div>{# /.sl_cell.large-8.xlarge-9 #}
                    <div class="sl_cell large-4 show-for-large">
                        {% include "podcast-sidebar.twig" %}
                    </div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}
                </div>{# /.sl_row #}
            </div>{# /.sl_inner #}
        </section>{# /.sl_content--body #}
        <section class="sl_content__footer">
            <div class="sl_inner">
                <h2>Where to Listen</h2>
                <div class="sl_podcast__partners sl_row medium-up-5 small-up-3">
                    {% include 'partials/podcast-partners.twig' %}
                </div>
            </div>
        </section>
    </article>{# /.post-type-{{post.post_type}} #}
{% endblock %}
